		$blog-name: 'blog';
		$blog-x: 90px;
		$blog-y: 250px;
		$blog-offset-x: -90px;
		$blog-offset-y: -250px;
		$blog-width: 38px;
		$blog-height: 38px;
		$blog-total-width: 436px;
		$blog-total-height: 378px;
		$blog-image: '../images/sprite.png';
		$blog: (90px, 250px, -90px, -250px, 38px, 38px, 436px, 378px, '../images/sprite.png', 'blog', );
		$breadcrumb-arrow-name: 'breadcrumb-arrow';
		$breadcrumb-arrow-x: 430px;
		$breadcrumb-arrow-y: 0px;
		$breadcrumb-arrow-offset-x: -430px;
		$breadcrumb-arrow-offset-y: 0px;
		$breadcrumb-arrow-width: 6px;
		$breadcrumb-arrow-height: 11px;
		$breadcrumb-arrow-total-width: 436px;
		$breadcrumb-arrow-total-height: 378px;
		$breadcrumb-arrow-image: '../images/sprite.png';
		$breadcrumb-arrow: (430px, 0px, -430px, 0px, 6px, 11px, 436px, 378px, '../images/sprite.png', 'breadcrumb-arrow', );
		$breadcrumb-home-name: 'breadcrumb-home';
		$breadcrumb-home-x: 280px;
		$breadcrumb-home-y: 156px;
		$breadcrumb-home-offset-x: -280px;
		$breadcrumb-home-offset-y: -156px;
		$breadcrumb-home-width: 13px;
		$breadcrumb-home-height: 16px;
		$breadcrumb-home-total-width: 436px;
		$breadcrumb-home-total-height: 378px;
		$breadcrumb-home-image: '../images/sprite.png';
		$breadcrumb-home: (280px, 156px, -280px, -156px, 13px, 16px, 436px, 378px, '../images/sprite.png', 'breadcrumb-home', );
		$close-name: 'close';
		$close-x: 266px;
		$close-y: 250px;
		$close-offset-x: -266px;
		$close-offset-y: -250px;
		$close-width: 28px;
		$close-height: 28px;
		$close-total-width: 436px;
		$close-total-height: 378px;
		$close-image: '../images/sprite.png';
		$close: (266px, 250px, -266px, -250px, 28px, 28px, 436px, 378px, '../images/sprite.png', 'close', );
		$facebook-name: 'facebook';
		$facebook-x: 178px;
		$facebook-y: 250px;
		$facebook-offset-x: -178px;
		$facebook-offset-y: -250px;
		$facebook-width: 38px;
		$facebook-height: 38px;
		$facebook-total-width: 436px;
		$facebook-total-height: 378px;
		$facebook-image: '../images/sprite.png';
		$facebook: (178px, 250px, -178px, -250px, 38px, 38px, 436px, 378px, '../images/sprite.png', 'facebook', );
		$file-name: 'file';
		$file-x: 244px;
		$file-y: 340px;
		$file-offset-x: -244px;
		$file-offset-y: -340px;
		$file-width: 20px;
		$file-height: 25px;
		$file-total-width: 436px;
		$file-total-height: 378px;
		$file-image: '../images/sprite.png';
		$file: (244px, 340px, -244px, -340px, 20px, 25px, 436px, 378px, '../images/sprite.png', 'file', );
		$fullscreen-active-name: 'fullscreen-active';
		$fullscreen-active-x: 190px;
		$fullscreen-active-y: 156px;
		$fullscreen-active-offset-x: -190px;
		$fullscreen-active-offset-y: -156px;
		$fullscreen-active-width: 40px;
		$fullscreen-active-height: 40px;
		$fullscreen-active-total-width: 436px;
		$fullscreen-active-total-height: 378px;
		$fullscreen-active-image: '../images/sprite.png';
		$fullscreen-active: (190px, 156px, -190px, -156px, 40px, 40px, 436px, 378px, '../images/sprite.png', 'fullscreen-active', );
		$fullscreen-name: 'fullscreen';
		$fullscreen-x: 0px;
		$fullscreen-y: 250px;
		$fullscreen-offset-x: 0px;
		$fullscreen-offset-y: -250px;
		$fullscreen-width: 40px;
		$fullscreen-height: 40px;
		$fullscreen-total-width: 436px;
		$fullscreen-total-height: 378px;
		$fullscreen-image: '../images/sprite.png';
		$fullscreen: (0px, 250px, 0px, -250px, 40px, 40px, 436px, 378px, '../images/sprite.png', 'fullscreen', );
		$gnb-minus-name: 'gnb-minus';
		$gnb-minus-x: 344px;
		$gnb-minus-y: 270px;
		$gnb-minus-offset-x: -344px;
		$gnb-minus-offset-y: -270px;
		$gnb-minus-width: 20px;
		$gnb-minus-height: 20px;
		$gnb-minus-total-width: 436px;
		$gnb-minus-total-height: 378px;
		$gnb-minus-image: '../images/sprite.png';
		$gnb-minus: (344px, 270px, -344px, -270px, 20px, 20px, 436px, 378px, '../images/sprite.png', 'gnb-minus', );
		$gnb-plus-name: 'gnb-plus';
		$gnb-plus-x: 314px;
		$gnb-plus-y: 340px;
		$gnb-plus-offset-x: -314px;
		$gnb-plus-offset-y: -340px;
		$gnb-plus-width: 20px;
		$gnb-plus-height: 20px;
		$gnb-plus-total-width: 436px;
		$gnb-plus-total-height: 378px;
		$gnb-plus-image: '../images/sprite.png';
		$gnb-plus: (314px, 340px, -314px, -340px, 20px, 20px, 436px, 378px, '../images/sprite.png', 'gnb-plus', );
		$icon-search-white-name: 'icon_search_white';
		$icon-search-white-x: 148px;
		$icon-search-white-y: 0px;
		$icon-search-white-offset-x: -148px;
		$icon-search-white-offset-y: 0px;
		$icon-search-white-width: 48px;
		$icon-search-white-height: 48px;
		$icon-search-white-total-width: 436px;
		$icon-search-white-total-height: 378px;
		$icon-search-white-image: '../images/sprite.png';
		$icon-search-white: (148px, 0px, -148px, 0px, 48px, 48px, 436px, 378px, '../images/sprite.png', 'icon_search_white', );
		$menu-name: 'menu';
		$menu-x: 88px;
		$menu-y: 340px;
		$menu-offset-x: -88px;
		$menu-offset-y: -340px;
		$menu-width: 28px;
		$menu-height: 28px;
		$menu-total-width: 436px;
		$menu-total-height: 378px;
		$menu-image: '../images/sprite.png';
		$menu: (88px, 340px, -88px, -340px, 28px, 28px, 436px, 378px, '../images/sprite.png', 'menu', );
		$nabis-arrow-name: 'nabis-arrow';
		$nabis-arrow-x: 246px;
		$nabis-arrow-y: 98px;
		$nabis-arrow-offset-x: -246px;
		$nabis-arrow-offset-y: -98px;
		$nabis-arrow-width: 12px;
		$nabis-arrow-height: 8px;
		$nabis-arrow-total-width: 436px;
		$nabis-arrow-total-height: 378px;
		$nabis-arrow-image: '../images/sprite.png';
		$nabis-arrow: (246px, 98px, -246px, -98px, 12px, 8px, 436px, 378px, '../images/sprite.png', 'nabis-arrow', );
		$next-name: 'next';
		$next-x: 344px;
		$next-y: 94px;
		$next-offset-x: -344px;
		$next-offset-y: -94px;
		$next-width: 36px;
		$next-height: 36px;
		$next-total-width: 436px;
		$next-total-height: 378px;
		$next-image: '../images/sprite.png';
		$next: (344px, 94px, -344px, -94px, 36px, 36px, 436px, 378px, '../images/sprite.png', 'next', );
		$option-name: 'option';
		$option-x: 246px;
		$option-y: 0px;
		$option-offset-x: -246px;
		$option-offset-y: 0px;
		$option-width: 48px;
		$option-height: 48px;
		$option-total-width: 436px;
		$option-total-height: 378px;
		$option-image: '../images/sprite.png';
		$option: (246px, 0px, -246px, 0px, 48px, 48px, 436px, 378px, '../images/sprite.png', 'option', );
		$pause-name: 'pause';
		$pause-x: 344px;
		$pause-y: 180px;
		$pause-offset-x: -344px;
		$pause-offset-y: -180px;
		$pause-width: 32px;
		$pause-height: 40px;
		$pause-total-width: 436px;
		$pause-total-height: 378px;
		$pause-image: '../images/sprite.png';
		$pause: (344px, 180px, -344px, -180px, 32px, 40px, 436px, 378px, '../images/sprite.png', 'pause', );
		$play-hover-name: 'play-hover';
		$play-hover-x: 0px;
		$play-hover-y: 0px;
		$play-hover-offset-x: 0px;
		$play-hover-offset-y: 0px;
		$play-hover-width: 98px;
		$play-hover-height: 106px;
		$play-hover-total-width: 436px;
		$play-hover-total-height: 378px;
		$play-hover-image: '../images/sprite.png';
		$play-hover: (0px, 0px, 0px, 0px, 98px, 106px, 436px, 378px, '../images/sprite.png', 'play-hover', );
		$play-name: 'play';
		$play-x: 344px;
		$play-y: 0px;
		$play-offset-x: -344px;
		$play-offset-y: 0px;
		$play-width: 36px;
		$play-height: 44px;
		$play-total-width: 436px;
		$play-total-height: 378px;
		$play-image: '../images/sprite.png';
		$play: (344px, 0px, -344px, 0px, 36px, 44px, 436px, 378px, '../images/sprite.png', 'play', );
		$search-name: 'search';
		$search-x: 166px;
		$search-y: 340px;
		$search-offset-x: -166px;
		$search-offset-y: -340px;
		$search-width: 28px;
		$search-height: 28px;
		$search-total-width: 436px;
		$search-total-height: 378px;
		$search-image: '../images/sprite.png';
		$search: (166px, 340px, -166px, -340px, 28px, 28px, 436px, 378px, '../images/sprite.png', 'search', );
		$volume-0-name: 'volume-0';
		$volume-0-x: 0px;
		$volume-0-y: 156px;
		$volume-0-offset-x: 0px;
		$volume-0-offset-y: -156px;
		$volume-0-width: 46px;
		$volume-0-height: 44px;
		$volume-0-total-width: 436px;
		$volume-0-total-height: 378px;
		$volume-0-image: '../images/sprite.png';
		$volume-0: (0px, 156px, 0px, -156px, 46px, 44px, 436px, 378px, '../images/sprite.png', 'volume-0', );
		$volume-4-name: 'volume-4';
		$volume-4-x: 96px;
		$volume-4-y: 156px;
		$volume-4-offset-x: -96px;
		$volume-4-offset-y: -156px;
		$volume-4-width: 44px;
		$volume-4-height: 44px;
		$volume-4-total-width: 436px;
		$volume-4-total-height: 378px;
		$volume-4-image: '../images/sprite.png';
		$volume-4: (96px, 156px, -96px, -156px, 44px, 44px, 436px, 378px, '../images/sprite.png', 'volume-4', );
		$youtube-name: 'youtube';
		$youtube-x: 0px;
		$youtube-y: 340px;
		$youtube-offset-x: 0px;
		$youtube-offset-y: -340px;
		$youtube-width: 38px;
		$youtube-height: 38px;
		$youtube-total-width: 436px;
		$youtube-total-height: 378px;
		$youtube-image: '../images/sprite.png';
		$youtube: (0px, 340px, 0px, -340px, 38px, 38px, 436px, 378px, '../images/sprite.png', 'youtube', );

	$spritesheet-width: 436px;
	$spritesheet-height: 378px;
	$spritesheet-image: '../images/sprite.png';
	$spritesheet-sprites: ($blog, $breadcrumb-arrow, $breadcrumb-home, $close, $facebook, $file, $fullscreen-active, $fullscreen, $gnb-minus, $gnb-plus, $icon-search-white, $menu, $nabis-arrow, $next, $option, $pause, $play-hover, $play, $search, $volume-0, $volume-4, $youtube, );
	$spritesheet: (436px, 378px, '../images/sprite.png', $spritesheet-sprites, );
