<!DOCTYPE html>
<html lang="ko">
<head>
		
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1, viewport-fit=cover">
	<title>국가균형발전위원회</title>

	<link rel="shortcut icon" href="http://www.balance.go.kr/favicon.ico" type="image/x-icon">

	<link href="./resources/styles/old/common.css" rel="stylesheet" type="text/css" />
	<link href="./resources/styles/old/style.css" rel="stylesheet" type="text/css" />
	<link href="./resources/styles/style.css" rel="stylesheet" type="text/css" />
	<link href="./resources/styles/sub.css" rel="stylesheet" type="text/css" />
	<link href="./resources/styles/old/ionicons.min.css" rel="stylesheet" type="text/css" />
	
    <script type="text/javascript" src="./resources/scripts/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="./resources/scripts/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="./resources/scripts/jquery.fitvids.js"></script>
	<script type="text/javascript" src="./resources/scripts/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="./resources/scripts/slick.js"></script>
	<script type="text/javascript" src="./resources/scripts/jquery.scrollbar.js"></script>
	<script type="text/javascript" src="./resources/scripts/jquery.balance.js"></script>

	<!--[if lt IE 9]>
		<script type="text/javascript" src="./resources/scripts/html5shiv.min.js"></script>
		<script type="text/javascript" src="./resources/scripts/selectivizr.js"></script>
		<script type="text/javascript" src="./resources/scripts/ie9.js"></script>
	<![endif]-->
	<!--[if lte IE 9]>
		<link href="./resources/styles/chosen.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="./resources/scripts/chosen.jquery.js"></script>
		<script>$(function(){$("select").chosen({disable_search_threshold: 100});});</script>
    <![endif]-->
</head>
<body>
	<div class="scrollbar">
		<header id="header">
			<div class="container">
				<h1><a href="/" title="홈으로"><img src="./resources/images/global/header-logo.png" alt="국가균형발전위원회" /></a></h1>
				<nav>
					<ul class="menus">
						<li><a href="#" title="메뉴 바로가기">위원회소개</a></li>
						<li><a href="#" title="메뉴 바로가기">위원회 사람들</a></li>
						<li><a href="#" title="메뉴 바로가기">국가균형발전</a></li>
						<li><a href="#" title="메뉴 바로가기">알림/소식</a></li>
					</ul>
					<ul class="links">
						<li><a href="https://www.nabis.go.kr/" title="사이트 바로가기" target="_blank"><img src="./resources/images/global/header-links-nabis.png" alt="NABIS" /></a></li>
						<li><a href="#" title="사이트 바로가기" target="_blank"><img width="38" src="./resources/images/icons/facebook.png" alt="페이스북" /></a></li>
						<li><a href="#" title="사이트 바로가기" target="_blank"><img width="38" src="./resources/images/icons/blog.png" alt="블로그" /></a></li>
						<li><a href="#" title="사이트 바로가기" target="_blank"><img width="38" src="./resources/images/icons/youtube.png" alt="유튜브" /></a></li>
					</ul>
					<ul class="icons">
						<li>
							<a class="gnb-open" href="#" title="메뉴 펼치기" target="_blank"><img src="./resources/images/icons/menu.png" alt="메뉴" /></a>
							<a class="gnb-close" href="#" title="메뉴 접기" target="_blank"><img src="./resources/images/icons/close.png" alt="메뉴" /></a>
						</li>
						<li>
							<a class="search-open" href="#" title="검색 펼치기" target="_blank"><img src="./resources/images/icons/search.png" alt="검색" /></a>
							<a class="search-close" href="#" title="검색 접기" target="_blank"><img src="./resources/images/icons/close.png" alt="메뉴" /></a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="gnb">
			<div class="scrollbar">
				<div class="gnb-inner">
					<ul class="menus">
						<li><a href="#" title="메뉴 바로가기">센터소식</a>
							<ul>
								<li><a href="#" title="메뉴 바로가기">위원장 인사말</a></li>
								<li><a href="#" title="메뉴 바로가기">위원회 구성</a></li>
								<li><a href="#" title="메뉴 바로가기">CI 소개</a></li>
								<li><a href="#" title="메뉴 바로가기">찾아오시는 길</a></li>
							</ul>
						</li>
						<li><a href="#" title="메뉴 바로가기">주요사업</a>
							<ul>
								<li><a href="#" title="메뉴 바로가기">위촉위원</a></li>
								<li><a href="#" title="메뉴 바로가기">당연직위원회</a></li>
								<li><a href="#" title="메뉴 바로가기">전문위원</a></li>
								<li><a href="#" title="메뉴 바로가기">기획단</a>
									<ul>
										<li><a href="#" title="메뉴 바로가기">국가균형발전기획단</a></li>
										<li><a href="#" title="메뉴 바로가기">기획단 조직과 업무</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="#" title="메뉴 바로가기">공모지원</a>
							<ul>
								<li><a href="#" title="메뉴 바로가기">비전과 전략</a></li>
								<li><a href="#" title="메뉴 바로가기">추진실적</a></li>
								<li><a href="#" title="메뉴 바로가기">연혁</a></li>
							</ul>
						</li>
						<li><a href="#" title="메뉴 바로가기">정보더하기</a>
							<ul>
								<li><a href="#" title="메뉴 바로가기">공지사항</a></li>
								<li><a href="#" title="메뉴 바로가기">보도자료</a></li>
								<li><a href="#" title="메뉴 바로가기">위원회 활동</a></li>
								<li><a href="#" title="메뉴 바로가기">자료실</a>
									<ul>
										<li><a href="#" title="메뉴 바로가기">영상</a></li>
										<li><a href="#" title="메뉴 바로가기">문서</a></li>
										<li><a href="#" title="메뉴 바로가기">사진</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="search">
			<div class="form-outer">
				<form id="searchForm" name="searchForm" action="/" method="post">
					<input id="search-keyword" name="allKeyWord" type="text" title="통합검색" placeholder="검색어를 입력해주세요">
					<button type="submit" onclick="document.searchForm.submit(); return false;">검색</button>
				</form>
			</div>
		</div>
		<main id="main">
			<div class="subpage">
				<nav class="subpage-nav">
					<div class="subpage-nav__inner container">
						<a class="subpage-nav__home" href="#" title="홈으로"></a>
						<ul>
							<li><h3 tabindex="0">알림/소식</h3>
								<ul>
									<li><a href="#" title="메뉴 바로가기">위원회소개</a></li>
									<li><a href="#" title="메뉴 바로가기">위원회 사람들</a></li>
									<li><a href="#" title="메뉴 바로가기">국가균형발전</a></li>
									<li><a href="#" title="메뉴 바로가기">알림/소식</a></li>
								</ul>
							</li>
							<li><h3 tabindex="0">공지사항</h3>
								<ul>
									<li><a href="#" title="메뉴 바로가기">공지사항</a></li>
									<li><a href="#" title="메뉴 바로가기">보도자료</a></li>
									<li><a href="#" title="메뉴 바로가기">위원회활동</a></li>
									<li><a href="#" title="메뉴 바로가기">자료실</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</nav>

				<div class="container">
					<section id="content">
						<div class="subtitle">
							<h2>공지사항</h2>
							<a class="subtitle-prev" href="#" title="이전메뉴 바로가기"><img src="./resources/images/global/subtitle-prev.png" alt="이전" /><span>공지사항</span></a>
							<a class="subtitle-next" href="#" title="다음메뉴 바로가기"><img src="./resources/images/global/subtitle-next.png" alt="다음" /><span>보도자료</span></a>
						</div>

						<div class="identity">
							<div class="identity__box">
								<h3 class="h3_bul">대통령직속 국가균형발전위원회 CI 소개</h3>

								<img class="identity__box__image" src="./resources/images/sub/identity.jpg" alt="국가균형발전위원회 CI" />

								<h4 class="identity__box__h4"><span class="col_1">포용</span>ㆍ<span class="col_2">발전</span>ㆍ<span class="col_3">균형</span></h4>

								<div class="identity__box__text">
									&lt;건곤감리&gt;의 형태에서 모티브를 가져와 각 지역이 서로 조화롭게 포용하고 균형있게 발전하는 모습을 상징했다.
									서로 다른 길이의 요소를 가지고 있지만 하나의 지붕 아래 같은 길이로 존재하는 요소들로 국가균형발전위원회가 추구하는 균형잡힌 비전을 나타낸다.
									Blue와 Red의 조합은 태극의 색으로 대한민국을 상징하며 Gray는 균형과 중립, 포용의 의미를 각각 담고 있다.
								</div>
								
								<ul class="identity__box__buttons">
									<li><a href="#" title="AI 다운로드">AI 다운로드</a></li>
									<li><a href="#" title="JPG 다운로드">JPG 다운로드</a></li>
									<li><a href="#" title="가이드라인 다운로드">가이드라인 다운로드</a></li>
								</ul>
							</div>

							<h3 class="h3_bul">CI 색상</h3>
							<div class="subpage-row">
								<dl class="dl_bul">
									<dt>FULL COLOR</dt>
									<dd>FULL COLOR 심볼마크의 경우 청색군, 적색군, 회색군의 최고명도와 최저명도 값을 지정하여 컬러활용에 참고할 수 있으나, 고유의 질감 표현을 위해 심볼마크 자체에 활용된 중간색들을 임의로 변경 제작할 수 없다.</dd>
								</dl>
								<div class="identity__image">
									<img src="./resources/images/sub/identity-fullcolor.jpg" alt="Full Color" />
								</div>
							</div>
							<div class="subpage-row">
								<dl class="dl_bul">
									<dt>ONE COLOR</dt>
									<dd>ONE COLOR 심볼마크의 경우 제시된 컬러 사용을 원칙으로 하나, 경우에 따라 본 컬러 적용이 불가할 경우 별도의 채도 사용을 금지하고, 회색조 및 흰색의 심볼마크를 사용한다.</dd>
								</dl>
								<div class="identity__image">
									<img class="identity__image__large" src="./resources/images/sub/identity-onecolor-large.jpg" alt="One Color" />
									<img class="identity__image__small" src="./resources/images/sub/identity-onecolor-small.jpg" alt="One Color" />
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</main>
		<footer id="footer">
			<nav class="footer-menu">
				<div class="container">
					<ul class="footer-menu__links">
						<li><a href="#" title="페이지 바로가기">개인정보처리방침</a></li>
						<li><a href="#" title="페이지 바로가기">저작권보호정책</a></li>
						<li><a href="#" title="페이지 바로가기">이용약관</a></li>
						<li><a href="#" title="페이지 바로가기">이메일무단수집거부</a></li>
					</ul>
					<ul class="footer-menu__icons">
						<li>
							<nav class="footer-menu__family">
								<h3 tabindex="0">중앙부처</h3>
								<ul>
									<li><a href="http://www.pmo.go.kr/" target="_blank" title="새창">국무조정실 </a></li>
									<li><a href="http://www.moleg.go.kr/" target="_blank" title="새창">법제처 </a></li>
									<li><a href="http://www.mpva.go.kr/" target="_blank" title="새창">국가보훈처 </a></li>
									<li><a href="http://www.mpm.go.kr/" target="_blank" title="새창">인사혁신처</a></li>
									<li><a href="http://www.mfds.go.kr/" target="_blank" title="새창">식품의약품안전처 </a></li>
									<li><a href="http://www.mosf.go.kr/" target="_blank" title="새창">기획재정부</a></li>
									<li><a href="http://www.msip.go.kr/" target="_blank" title="새창">과학기술정보통신부</a></li>
									<li><a href="http://www.moe.go.kr/" target="_blank" title="새창">교육부</a></li>
									<li><a href="http://www.mofa.go.kr/" target="_blank" title="새창">외교부</a></li>
									<li><a href="http://www.unikorea.go.kr/" target="_blank" title="새창">통일부</a></li>
									<li><a href="http://www.moj.go.kr/" target="_blank" title="새창">법무부</a></li>
									<li><a href="http://www.mnd.go.kr/" target="_blank" title="새창">국방부</a></li>
									<li><a href="http://www.mois.go.kr/" target="_blank" title="새창">행정안전부</a></li>
									<li><a href="http://www.mcst.go.kr/" target="_blank" title="새창">문화체육관광부</a></li>
									<li><a href="http://www.mafra.go.kr/" target="_blank" title="새창">농림축산식품부</a></li>
									<li><a href="http://www.motie.go.kr/" target="_blank" title="새창">산업통상자원부</a></li>
									<li><a href="http://www.mohw.go.kr/" target="_blank" title="새창">보건복지부</a></li>
									<li><a href="http://www.me.go.kr/" target="_blank" title="새창">환경부</a></li>
									<li><a href="http://www.moel.go.kr/" target="_blank" title="새창">고용노동부</a></li>
									<li><a href="http://www.mogef.go.kr/" target="_blank" title="새창">여성가족부</a></li>
									<li><a href="http://www.molit.go.kr/" target="_blank" title="새창">국토교통부</a></li>
									<li><a href="http://www.mof.go.kr/" target="_blank" title="새창">해양수산부</a></li>
									<li><a href="http://www.smba.go.kr/" target="_blank" title="새창">중소벤처기업부</a></li>
								</ul>
							</nav>
						</li>
						<li>
							<nav class="footer-menu__family">
								<h3 tabindex="0">타시도</h3>
								<ul>
									<li><a href="http://www.seoul.go.kr/" target="_blank" title="새창">서울특별시</a></li>
									<li><a href="http://www.busan.go.kr/" target="_blank" title="새창">부산광역시</a></li>
									<li><a href="http://www.daegu.go.kr/" target="_blank" title="새창">대구광역시</a></li>
									<li><a href="http://www.incheon.go.kr/" target="_blank" title="새창">인천광역시</a></li>
									<li><a href="http://www.gwangju.go.kr/" target="_blank" title="새창">광주광역시</a></li>
									<li><a href="http://www.daejeon.go.kr/" target="_blank" title="새창">대전광역시</a></li>
									<li><a href="http://www.ulsan.go.kr/" target="_blank" title="새창">울산광역시</a></li>
									<li><a href="http://www.sejong.go.kr/" target="_blank" title="새창">세종특별자치시</a></li>
									<li><a href="http://www.gg.go.kr/" target="_blank" title="새창">경기도</a></li>
									<li><a href="http://www.provin.gangwon.kr/" target="_blank" title="새창">강원도</a></li>
									<li><a href="http://www.cb21.net/" target="_blank" title="새창">충청북도</a></li>
									<li><a href="http://www.chungnam.go.kr" target="_blank" title="새창">충청남도</a></li>
									<li><a href="http://www.jeonbuk.go.kr/" target="_blank" title="새창">전라북도</a></li>
									<li><a href="http://www.jeonnam.go.kr/" target="_blank" title="새창">전라남도</a></li>
									<li><a href="http://www.gb.go.kr/" target="_blank" title="새창">경상북도</a></li>
									<li><a href="http://www.gyeongnam.go.kr" target="_blank" title="새창">경상남도</a></li>
									<li><a href="http://www.jeju.go.kr/" target="_blank" title="새창">제주특별자치도</a></li>
								</ul>
							</nav>
						</li>
						<!--
						<li><a href="#" title="새창으로 사이트"><img src="/template/resources/images/global/footer-menu__icons-01.png" alt="페이스북" /></a></li>
						<li><a href="#" title="새창으로 사이트"><img src="/template/resources/images/global/footer-menu__icons-02.png" alt="블로그" /></a></li>
						<li><a href="#" title="새창으로 사이트"><img src="/template/resources/images/global/footer-menu__icons-03.png" alt="유튜브" /></a></li>
						-->
						<li><a class="scroll-top" href="#" title="최상단 바로가기"><img src="/template/resources/images/global/footer-menu__icons-04.png" alt="맨 위로"></a></li>
					</ul>
				</div>
			</nav>
			<div class="footer-copyright">
				<div class="container">
					<h2 class="footer-copyright__logo"><img src="./resources/images/global/footer-logo.png" alt="국가균형발전위원회" /></h2>
					<div class="footer-copyright__text">
						<address>03171 서울특별시 종로구 세종대로 209(세종로) 정부서울청사 4층</address>
						<p>Copyright 2020 국가균형발전위원회. All Rights Reserved.</p>
					</div>
					<nav class="footer-copyright__family">
						<h3 tabindex="0">주요사이트 바로가기</h3>
						<ul>
							<li><a href="#" title="새창으로 사이트 바로가기" target="_blank">하위메뉴</a></li>
							<li><a href="#" title="새창으로 사이트 바로가기" target="_blank">하위메뉴</a></li>
							<li><a href="#" title="새창으로 사이트 바로가기" target="_blank">하위메뉴</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>