<!DOCTYPE html>
<html lang="ko">
<head>
		
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1, viewport-fit=cover">
	<title>국가균형발전위원회</title>

	<link rel="shortcut icon" href="http://www.balance.go.kr/favicon.ico" type="image/x-icon">

	<link href="./resources/styles/old/ionicons.min.css" rel="stylesheet" type="text/css" />
	<link href="./resources/styles/old/common.css" rel="stylesheet" type="text/css" />
	<link href="./resources/styles/old/style.css" rel="stylesheet" type="text/css" />
	<link href="./resources/styles/style.css" rel="stylesheet" type="text/css" />
	
    <script type="text/javascript" src="./resources/scripts/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="./resources/scripts/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="./resources/scripts/jquery.fitvids.js"></script>
	<script type="text/javascript" src="./resources/scripts/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="./resources/scripts/slick.js"></script>
	<script type="text/javascript" src="./resources/scripts/jquery.scrollbar.js"></script>
	<script type="text/javascript" src="./resources/scripts/jquery.balance.js"></script>

	<!--[if lt IE 9]>
		<script type="text/javascript" src="./resources/scripts/html5shiv.min.js"></script>
		<script type="text/javascript" src="./resources/scripts/selectivizr.js"></script>
		<script type="text/javascript" src="./resources/scripts/ie9.js"></script>
	<![endif]-->
	<!--[if lte IE 9]>
		<link href="./resources/styles/old/chosen.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="./resources/scripts/chosen.jquery.js"></script>
		<script>$(function(){$("select").chosen({disable_search_threshold: 100});});</script>
    <![endif]-->
</head>
<body>
	<div class="scrollbar">
		<header id="header">
			<div class="container">
				<h1><a href="/" title="홈으로"><img src="./resources/images/global/header-logo.png" alt="국가균형발전위원회" /></a></h1>
				<nav>
					<ul class="menus">
						<li><a href="#" title="메뉴 바로가기">위원회소개</a></li>
						<li><a href="#" title="메뉴 바로가기">위원회 사람들</a></li>
						<li><a href="#" title="메뉴 바로가기">국가균형발전</a></li>
						<li><a href="#" title="메뉴 바로가기">알림/소식</a></li>
					</ul>
					<ul class="links">
						<li><a href="https://www.nabis.go.kr/" title="사이트 바로가기" target="_blank"><img src="./resources/images/global/header-links-nabis.png" alt="NABIS" /></a></li>
						<li><a href="#" title="사이트 바로가기" target="_blank"><img width="38" src="./resources/images/icons/youtube.png" alt="유튜브" /></a></li>
						<li><a href="#" title="사이트 바로가기" target="_blank"><img width="38" src="./resources/images/icons/facebook.png" alt="페이스북" /></a></li>
						<li><a href="#" title="사이트 바로가기" target="_blank"><img width="38" src="./resources/images/icons/blog.png" alt="블로그" /></a></li>
					</ul>
					<ul class="icons">
						<li>
							<a class="gnb-open" href="#" title="메뉴 펼치기" target="_blank"><img src="./resources/images/icons/menu.png" alt="메뉴" /></a>
							<a class="gnb-close" href="#" title="메뉴 접기" target="_blank"><img src="./resources/images/icons/close.png" alt="메뉴" /></a>
						</li>
						<li>
							<a class="search-open" href="#" title="검색 펼치기" target="_blank"><img src="./resources/images/icons/search.png" alt="검색" /></a>
							<a class="search-close" href="#" title="검색 접기" target="_blank"><img src="./resources/images/icons/close.png" alt="메뉴" /></a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="gnb">
			<div class="gnb-inner">
				<div class="scrollbar">
					<ul class="menus">
						<li><a href="#" title="메뉴 바로가기">센터소식</a>
							<ul>
								<li><a href="#" title="메뉴 바로가기">위원장 인사말</a></li>
								<li><a href="#" title="메뉴 바로가기">위원회 구성</a></li>
								<li><a href="#" title="메뉴 바로가기">CI 소개</a></li>
								<li><a href="#" title="메뉴 바로가기">찾아오시는 길</a></li>
							</ul>
						</li>
						<li><a href="#" title="메뉴 바로가기">주요사업</a>
							<ul>
								<li><a href="#" title="메뉴 바로가기">위촉위원</a></li>
								<li><a href="#" title="메뉴 바로가기">당연직위원회</a></li>
								<li><a href="#" title="메뉴 바로가기">전문위원</a></li>
								<li><a href="#" title="메뉴 바로가기">기획단</a>
									<ul>
										<li><a href="#" title="메뉴 바로가기">국가균형발전기획단</a></li>
										<li><a href="#" title="메뉴 바로가기">기획단 조직과 업무</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="#" title="메뉴 바로가기">공모지원</a>
							<ul>
								<li><a href="#" title="메뉴 바로가기">비전과 전략</a></li>
								<li><a href="#" title="메뉴 바로가기">추진실적</a></li>
								<li><a href="#" title="메뉴 바로가기">연혁</a></li>
							</ul>
						</li>
						<li><a href="#" title="메뉴 바로가기">정보더하기</a>
							<ul>
								<li><a href="#" title="메뉴 바로가기">공지사항</a></li>
								<li><a href="#" title="메뉴 바로가기">보도자료</a></li>
								<li><a href="#" title="메뉴 바로가기">위원회 활동</a></li>
								<li><a href="#" title="메뉴 바로가기">자료실</a>
									<ul>
										<li><a href="#" title="메뉴 바로가기">영상</a></li>
										<li><a href="#" title="메뉴 바로가기">문서</a></li>
										<li><a href="#" title="메뉴 바로가기">사진</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="search">
			<div class="form-outer">
				<form id="searchForm" name="searchForm" action="/" method="post">
					<input id="search-keyword" name="allKeyWord" type="text" title="통합검색" placeholder="검색어를 입력해주세요">
					<button type="submit" onclick="document.searchForm.submit(); return false;">검색</button>
				</form>
			</div>
		</div>
		<main id="main">
			<div class="container">
				<div class="main-section">
					<div class="main-lay-01">
						<section class="section-links">
							<!--
							<h2>지역이 강한 나라, 균형 잡힌 대한민국</h2>
							<p>대한민국 곳곳이 골고루 잘사는 나라를 만들기 위해 <br />균형발전의 새로운 전기를 마련했습니다.</p>
							-->
							<h2 class="blind">자주찾는 메뉴</h2>
							<img class="section-links-president" src="./resources/images/main/section-links-president.png" alt="지역의 성장판이 열려야 국가경제의 활력이 돌아옵니다. - 2019년 1월 10일 문재인 대통령 신년기자회견 中" />
							<ul>
								<li>
									<a href="#" title="페이지 바로가기">
										<img src="./resources/images/main/section-links-01.png" alt="아이콘" />
										<span>위원회사람들</span>
									</a>
								</li>
								<li>
									<a href="#" title="페이지 바로가기">
										<img src="./resources/images/main/section-links-02.png" alt="아이콘" />
										<span>비전과 전략</span>
									</a>
								</li>
								<li>
									<a href="#" title="페이지 바로가기">
										<img src="./resources/images/main/section-links-03.png" alt="아이콘" />
										<span>추진실적</span>
									</a>
								</li>
								<li>
									<a href="#" title="페이지 바로가기">
										<img src="./resources/images/main/section-links-04.png" alt="아이콘" />
										<span>자료실</span>
									</a>
								</li>
							</ul>
						</section>

						<!--
						<section class="section-sns">
							<div class="section-title section-title-whitemode">
								<h2>균형위 소식</h2>
								<div class="section-title__control">
									<ul class="section-title__control__sns">
										<li><a href="#" title="사이트 바로가기" target="_blank"><img src="./resources/images/icons/facebook.png" alt="페이스북" /></a></li>
										<li><a href="#" title="사이트 바로가기" target="_blank"><img src="./resources/images/icons/blog.png" alt="블로그" /></a></li>
										<li><a href="#" title="사이트 바로가기" target="_blank"><img src="./resources/images/icons/youtube.png" alt="유튜브" /></a></li>
									</ul>
									<ul class="section-title__control__arrows">
										<li class="section-title__control__arrows__prev"><a href="javascript:void(0);" title="이전으로"></a></li>
										<li class="section-title__control__arrows__pause"><a href="javascript:void(0);" title="일시정지"></a></li>
										<li class="section-title__control__arrows__start" style="display: none;"><a href="javascript:void(0);" title="재생하기"></a></li>
										<li class="section-title__control__arrows__next"><a href="javascript:void(0);" title="다음으로"></a></li>
									</ul>
								</div>
							</div>
							<ul id="slider_sns_fb" class="section-gallery section-gallery-whitemode">
								<li>
									<a href="#">
										<div class="thumb">
											<div class="icons"><img src="./resources/images/main/section-sns-thumb-facebook.png" alt="페이스북" /></div>
											<img src="" alt="썸네일" />
										</div>
										<h3>균형위, 저출산·고령화와 지방 소멸위기 극복 MOU</h3>
										<span>2020.07.13</span>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="thumb">
											<div class="icons"><img src="./resources/images/main/section-sns-thumb-facebook.png" alt="페이스북" /></div>
											<img src="" alt="썸네일" />
										</div>
										<h3>질병관리본부 정은경 본부장의 인터뷰 - 코로나19의 향후 전망은?</h3>
										<span>2020.07.13</span>
									</a>
								</li>
								<li>
									<a href="#">
										<div class="thumb">
											<div class="icons"><img src="./resources/images/main/section-sns-thumb-facebook.png" alt="페이스북" /></div>
											<img src="" alt="썸네일" />
										</div>
										<h3>질병관리본부 정은경 본부장의 인터뷰 - 코로나19의 향후 전망은?</h3>
										<span>2020.07.13</span>
									</a>
								</li>
							</ul>
						</section>
						-->
					</div>

					<div class="main-group-01">
						<div class="main-lay-02">
							<section>
								<div class="section-title">
									<h2>위원회 활동</h2>
									<div class="section-title__control">
										<ul class="section-title__control__arrows">
											<li class="section-title__control__arrows__prev"><a href="javascript:void(0);" title="이전으로"></a></li>
											<li class="section-title__control__arrows__pause"><a href="javascript:void(0);" title="일시정지"></a></li>
											<li class="section-title__control__arrows__start" style="display: none;"><a href="javascript:void(0);" title="재생하기"></a></li>
											<li class="section-title__control__arrows__next"><a href="javascript:void(0);" title="다음으로"></a></li>
										</ul>
										<a class="section-title__control__more" href="#" title="전체글 보러가기"></a>
									</div>
								</div>
								<ul id="slider_committee" class="section-gallery section-gallery-white">
									<li>
										<a href="#">
											<div class="thumb">
												<img src="" alt="썸네일" />
											</div>
											<h3>균형위, 저출산·고령화와 지방 소멸위기 극복 MOU</h3>
											<span>2020.07.13</span>
										</a>
									</li>
									<li>
										<a href="#">
											<div class="thumb">
												<img src="" alt="썸네일" />
											</div>
											<h3>질병관리본부 정은경 본부장의 인터뷰 - 코로나19의 향후 전망은?</h3>
											<span>2020.07.13</span>
										</a>
									</li>
									<li>
										<a href="#">
											<div class="thumb">
												<img src="" alt="썸네일" />
											</div>
											<h3>질병관리본부 정은경 본부장의 인터뷰 - 코로나19의 향후 전망은?</h3>
											<span>2020.07.13</span>
										</a>
									</li>
								</ul>
							</section>
						</div>

						<div class="main-lay-03">
							<section>
								<div class="section-title blind">
									<h2>게시판 위젯</h2>
								</div>
								<div class="section-board">
									<ul class="section-board-list">
										<li class="active"><h3><a href="#">공지사항</a></h3>
											<div class="section-board-list__cont">
												<ul>
													<li>
														<a href="#" title="게시글 보러가기">국가균형발전위원회 전문임기제 채용공고</a>
														<span class="text">국가균형발전위원회 전문임기제공무원 채용시험 계획을 다음과 같이 공고합니다.</span>
														<span class="date">2020.06<em>.</em><strong>18</strong></span>
													</li>
													
													<li>
														<a href="#" title="게시글 보러가기">국가균형발전위원회 기간제근로자(비서) 최종</a>
														<span class="date">2020.06<em>.</em><strong>18</strong></span>
													</li>
													
													<li>
														<a href="#" title="게시글 보러가기">국가균형발전정책 토크콘서트 온라인 생방송</a>
														<span class="date">2020.06<em>.</em><strong>18</strong></span>
													</li>
													
													<li>
														<a href="#" title="게시글 보러가기">2020년 제3기 지역혁신가 발굴·선정 공고</a>
														<span class="date">2020.06<em>.</em><strong>18</strong></span>
													</li>
												</ul>
												<a class="btn_more" href="#" title="전체글 보러가기"></a>
											</div>
										</li>
										<li><h3><a href="#">보도자료</a></h3>
											<div class="section-board-list__cont">
												<ul>
													<li>
														<a href="#" title="게시글 보러가기">국가균형발전위원회 전문임기제 채용공고</a>
														<span class="text">국가균형발전위원회 전문임기제공무원 채용시험 계획을 다음과 같이 공고합니다.</span>
														<span class="date">2020.06<em>.</em><strong>18</strong></span>
													</li>
													
													<li>
														<a href="#" title="게시글 보러가기">국가균형발전위원회 기간제근로자(비서) 최종</a>
														<span class="date">2020.06<em>.</em><strong>18</strong></span>
													</li>
													
													<li>
														<a href="#" title="게시글 보러가기">국가균형발전정책 토크콘서트 온라인 생방송</a>
														<span class="date">2020.06<em>.</em><strong>18</strong></span>
													</li>
													
													<li>
														<a href="#" title="게시글 보러가기">2020년 제3기 지역혁신가 발굴·선정 공고</a>
														<span class="date">2020.06<em>.</em><strong>18</strong></span>
													</li>
												</ul>
												<a class="btn_more" href="#" title="전체글 보러가기"></a>
											</div>
										</li>
									</ul>
								</div>
							</section>
						</div>
					</div>

					<div class="main-group-02">
						<div class="main-lay-04">
							<section>
								<div class="section-title section-title-darkmode">
									<h2>
										<img src="./resources/images/main/section-title-nabis.png" alt="NABIS" />
										<sub>국가균형발전종합정보시스템</sub>
									</h2>
								</div>
								<div class="section-nabis">
									<ul class="section-nabis-gallery">
										<li class="active"><h3><a href="#">균형발전 지역뉴스</a></h3>
											<div class="section-nabis-gallery__cont" style="display: block;">
												<div id="slider_nabis01" class="section-nabis-gallery__slider">
													<div>
														<a href="#" title="게시글 보러가기">
															<div class="thumb"><img src="" alt="썸네일" /></div>
															<h4>김해시 '창작오페라 허왕후' 제작사업 본격화1</h4>
															<span class="text">경남 김해시와 김해문화재단이 추진 중인 창작오페라 '허왕후' 제작 ...</span>
															<span class="date">2020.07.13</span>
														</a>
													</div>
													<div>
														<a href="#" title="게시글 보러가기">
															<div class="thumb"><img src="" alt="썸네일" /></div>
															<h4>김해시 '창작오페라 허왕후' 제작사업 본격화1</h4>
															<span class="text">경남 김해시와 김해문화재단이 추진 중인 창작오페라 '허왕후' 제작 ...</span>
															<span class="date">2020.07.13</span>
														</a>
													</div>
												</div>
												<ul class="section-nabis-gallery__arrows">
													<li class="section-nabis-gallery__arrows__prev"><a href="javascript:void(0);" title="이전으로"></a></li>
													<li class="section-nabis-gallery__arrows__pause"><a href="javascript:void(0);" title="일시정지"></a></li>
													<li class="section-nabis-gallery__arrows__start" style="display: none;"><a href="javascript:void(0);" title="재생하기"></a></li>
													<li class="section-nabis-gallery__arrows__next"><a href="javascript:void(0);" title="다음으로"></a></li>
												</ul>
											</div>
											<a class="btn_more" href="https://www.nabis.go.kr/localNewsList.do?menucd=203&menuFlag=Y" title="전체글 보러가기(새탭)" target="_blank"></a>
										</li>
										<li><h3><a href="#">균형발전 큐레이터</a></h3>
											<div class="section-nabis-gallery__cont" style="display: block;">
												<div id="slider_nabis02" class="section-nabis-gallery__slider">
													<div>
														<a href="#" title="게시글 보러가기">
															<div class="thumb"><img src="" alt="썸네일" /></div>
															<h4>김해시 '창작오페라 허왕후' 제작사업 본격화2</h4>
															<span class="text">경남 김해시와 김해문화재단이 추진 중인 창작오페라 '허왕후' 제작 ...</span>
															<span class="date">2020.07.13</span>
														</a>
													</div>
													<div>
														<a href="#" title="게시글 보러가기">
															<div class="thumb"><img src="" alt="썸네일" /></div>
															<h4>김해시 '창작오페라 허왕후' 제작사업 본격화2</h4>
															<span class="text">경남 김해시와 김해문화재단이 추진 중인 창작오페라 '허왕후' 제작 ...</span>
															<span class="date">2020.07.13</span>
														</a>
													</div>
												</div>
												<ul class="section-nabis-gallery__arrows">
													<li class="section-nabis-gallery__arrows__prev"><a href="javascript:void(0);" title="이전으로"></a></li>
													<li class="section-nabis-gallery__arrows__pause"><a href="javascript:void(0);" title="일시정지"></a></li>
													<li class="section-nabis-gallery__arrows__start" style="display: none;"><a href="javascript:void(0);" title="재생하기"></a></li>
													<li class="section-nabis-gallery__arrows__next"><a href="javascript:void(0);" title="다음으로"></a></li>
												</ul>
											</div>
											<a class="btn_more" href="https://www.nabis.go.kr/curatorList.do?menucd=201&menuFlag=Y" title="전체글 보러가기(새탭)" target="_blank"></a>
										</li>
										<li><h3><a href="https://www.nabis.go.kr/balanceDevelopmentPlanList.do?menucd=113&menuFlag=Y" title="페이지 바로가기(새탭)" target="_blank">균형발전 계획과 프로젝트</a></h3></li>
										<li><h3><a href="https://www.nabis.go.kr/atlantisDetailView.do?menucd=151&menuFlag=Y" title="페이지 바로가기(새탭)" target="_blank">한눈에 보는 지역정보</a></h3></li>
										<li><h3><a href="https://www.nabis.go.kr/issuReportSidoList.do?menucd=131&menuFlag=Y" title="페이지 바로가기(새탭)" target="_blank">시도연구원 이슈리포트</a></h3></li>
									</ul>
								</div>
							</section>
						</div>

						<div class="main-lay-05">
							<section class="section-popupzone">
								<div class="section-title">
									<h2>팝업존</h2>
									<div class="section-title__control">
										<ul class="section-title__control__arrows">
											<li class="section-title__control__arrows__prev"><a href="javascript:void(0);" title="이전으로"></a></li>
											<li class="section-title__control__arrows__pause"><a href="javascript:void(0);" title="일시정지"></a></li>
											<li class="section-title__control__arrows__start" style="display: none;"><a href="javascript:void(0);" title="재생하기"></a></li>
											<li class="section-title__control__arrows__next"><a href="javascript:void(0);" title="다음으로"></a></li>
										</ul>
										<a class="section-title__control__more" href="#" title="전체글 보러가기"></a>
									</div>
								</div>
								<ul id="slider_popupzone" class="popupzone">
									<li><a href="#" target="_blank"><img src="./resources/images/main/popupzone.jpg" alt="팝업존이미지" /></a></li>
									<li><a href="#" target="_blank"><img src="./resources/images/main/popupzone.jpg" alt="팝업존이미지" /></a></li>
								</ul>
							</section>
						</div>
					</div>

					<div class="main-lay-06">
						<section class="section-sns">
							<div class="section-title section-title-whitemode">
								<h2>균형위 소식</h2>
								<div class="section-title__control">
									<ul class="section-title__control__sns">
										<li><a href="#" title="유튜브 새글 보기" id="sns_youtube"><img src="./resources/images/icons/youtube.png" alt="유튜브" /></a></li>
										<li><a href="#" title="페이스북 새글 보기" id="sns_fb"><img src="./resources/images/icons/facebook.png" alt="페이스북" /></a></li>
										<li><a href="#" title="블로그 새글 보기" id="sns_blog"><img src="./resources/images/icons/blog.png" alt="블로그" /></a></li>
									</ul>
									<ul class="section-title__control__arrows">
										<li class="section-title__control__arrows__prev"><a href="javascript:void(0);" title="이전으로"></a></li>
										<li class="section-title__control__arrows__pause"><a href="javascript:void(0);" title="일시정지"></a></li>
										<li class="section-title__control__arrows__start" style="display: none;"><a href="javascript:void(0);" title="재생하기"></a></li>
										<li class="section-title__control__arrows__next"><a href="javascript:void(0);" title="다음으로"></a></li>
									</ul>
								</div>
							</div>
							
							<ul id="slider_sns_youtube" class="section-gallery section-gallery-whitemode">
								<li id="sns_youtube1">
									<a href="https://www.youtube.com/watch?v=CQmB7jf2QEY" target="_blank">
										<div class="thumb">
											<div class="icons">
												<img src="./resources/images/main/section-sns-thumb-youtube.png"
													onerror="this.src='./resources/images/global/noimg.jpg'"
													alt="유튜브" />
											</div>
											<img src="https://i4.ytimg.com/vi/CQmB7jf2QEY/hqdefault.jpg"
												onerror="this.src='./resources/images/global/noimg.jpg'"
												alt="썸네일" />
										</div>
										<h3>2020 대한민국 균형발전박람회</h3> <span>2020.11.02</span>
									</a>
								</li>
								<li id="sns_youtube2">
									<a href="https://www.youtube.com/watch?v=tyyIGDagbL0" target="_blank">
										<div class="thumb">
											<div class="icons">
												<img src="./resources/images/main/section-sns-thumb-youtube.png"
													onerror="this.src='./resources/images/global/noimg.jpg'"
													alt="유튜브" />
											</div>
											<img src="https://i1.ytimg.com/vi/tyyIGDagbL0/hqdefault.jpg"
												onerror="this.src='./resources/images/global/noimg.jpg'"
												alt="썸네일" />
										</div>
										<h3>[균형발전NEWS] 10월 호</h3> <span>2020.10.30</span>
									</a>
								</li>
								<li id="sns_youtube3" >
									<a href="https://www.youtube.com/watch?v=EtUC17cFapM" target="_blank">
										<div class="thumb">
											<div class="icons">
												<img src="./resources/images/main/section-sns-thumb-youtube.png"
													onerror="this.src='./resources/images/global/noimg.jpg'"
													alt="유튜브" />
											</div>
											<img src="https://i2.ytimg.com/vi/EtUC17cFapM/hqdefault.jpg"
												onerror="this.src='./resources/images/global/noimg.jpg'"
												alt="썸네일" />
										</div>
										<h3>[청춘발란's] 2020 청춘발란's 최우수팀 '강균성' 인터뷰</h3> <span>2020.10.27</span>
									</a>
								</li>
								<li id="sns_youtube4">
									<a href="https://www.youtube.com/watch?v=E6Rro2CGy_A" target="_blank">
										<div class="thumb">
											<div class="icons">
												<img src="./resources/images/main/section-sns-thumb-youtube.png"
													onerror="this.src='./resources/images/global/noimg.jpg'"
													alt="유튜브" />
											</div>
											<img src="https://i2.ytimg.com/vi/E6Rro2CGy_A/hqdefault.jpg"
												onerror="this.src='./resources/images/global/noimg.jpg'"
												alt="썸네일" />
										</div>
										<h3>[균형발전NEWS] 2020 국가균형발전 청년 서포터즈 해단식</h3> <span>2020.10.26</span>
									</a>
								</li>
							</ul>
							
							<ul id="slider_sns_fb" class="section-gallery section-gallery-whitemode" style="display:none;">
								<li id="sns_fb1">
									<a href="https://ko-kr.facebook.com/balance.go.kr/videos/%EA%B7%A0%ED%98%95%EB%B0%9C%EC%A0%84news-9%EC%9B%94-%ED%98%B8/810459179720207/?__so__=permalink&__rv__=related_videos" title="페이지 새창으로 열기" target="_blank" rel="noopener">
										<div class="thumb">
											<div class="icons"><img src="./resources/images/main/section-sns-thumb-facebook.png" alt="페이스북" /></div>
											<img src="https://scontent-gmp1-1.xx.fbcdn.net/v/t15.13418-10/s280x280/120917812_378220936879972_7108922593698294160_n.jpg?_nc_cat=101&ccb=2&_nc_sid=08861d&_nc_ohc=Fm97NQt52VQAX_OTlxG&_nc_ht=scontent-gmp1-1.xx&tp=7&oh=cf90a86029f32b230e79dee0b35cc9b7&oe=5FCBC4AC" alt="썸네일" />
										</div>
										<h3>[균형발전NEWS] 9월 호</h3>
										<span>2020.10.12</span>
									</a>
								</li>
								<li id="sns_fb2">
									<a href="https://ko-kr.facebook.com/balance.go.kr/videos/%EA%B7%A0%ED%98%95%EB%B0%9C%EC%A0%84-news-8%EC%9B%94-%ED%98%B8/314398176502138/?__so__=permalink&__rv__=related_videos" title="페이지 새창으로 열기" target="_blank" rel="noopener">
										<div class="thumb">
											<div class="icons"><img src="./resources/images/main/section-sns-thumb-facebook.png" alt="페이스북" /></div>
											<img src="https://scontent-gmp1-1.xx.fbcdn.net/v/t15.5256-10/s280x280/118614840_314399426502013_6058527643684886552_n.jpg?_nc_cat=106&ccb=2&_nc_sid=08861d&_nc_ohc=akrd6kzoBlIAX88Cm3u&_nc_ht=scontent-gmp1-1.xx&oh=1ff2d81eac417a76b77a3b3be21bf872&oe=5FC9F708" alt="썸네일" />
										</div>
										<h3>[균형발전NEWS] 8월 호</h3>
										<span>2020.08.31</span>
									</a>
								</li>
								<li id="sns_fb3">
									<a href="https://ko-kr.facebook.com/balance.go.kr/videos/%EA%B5%AD%EA%B0%80%EA%B7%A0%ED%98%95%EB%B0%9C%EC%A0%84%EC%9C%84%EC%9B%90%ED%9A%8C-%EA%B0%9C%ED%8E%B8-%EB%B0%8F-%EA%B7%A0%ED%8A%B9%ED%9A%8C%EA%B3%84-%EB%B0%9C%EC%A0%84-%EB%B0%A9%EC%95%88-%EB%85%BC%EC%9D%98-%ED%86%A0%EB%A1%A0%ED%9A%8C/608362363382898/?__so__=permalink&__rv__=related_videos" title="페이지 새창으로 열기" target="_blank" rel="noopener">
										<div class="thumb">
											<div class="icons"><img src="./resources/images/main/section-sns-thumb-facebook.png" alt="페이스북" /></div>
											<img src="https://scontent-gmp1-1.xx.fbcdn.net/v/t15.13418-10/s280x280/118205626_227146858624574_555404497993163532_n.jpg?_nc_cat=107&ccb=2&_nc_sid=08861d&_nc_ohc=2AEovgES1-IAX87_q1h&_nc_ht=scontent-gmp1-1.xx&tp=7&oh=8ad26da939991e5f5a8813e77c63b71d&oe=5FC82E57" alt="썸네일" />
										</div>
										<h3>국가균형발전위원회 개편 및 균특회계 발전 방안 논의 토론회</h3>
										<span>2020.08.20</span>
									</a>
								</li>
								<li id="sns_fb4">
									<a href="https://ko-kr.facebook.com/balance.go.kr/videos/%EC%83%9D%ED%99%9Csoc-%EB%B3%B5%ED%95%A9%ED%99%94-%EC%82%AC%EC%97%85-%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%99%9C%EC%9A%A9-%EC%98%81%EC%83%81/218381429496766/?__so__=permalink&__rv__=related_videos" target="_blank">
										<div class="thumb">
											<div class="icons"><img src="./resources/images/main/section-sns-thumb-facebook.png" alt="페이스북" /></div>
											<img src="https://scontent-gmp1-1.xx.fbcdn.net/v/t15.5256-10/s280x280/93804632_218382802829962_386923733861793792_n.jpg?_nc_cat=101&ccb=2&_nc_sid=08861d&_nc_ohc=ogKPaQKxdIsAX_pqnfm&_nc_ht=scontent-gmp1-1.xx&oh=6220ad9a36dc7de1475741a265365f58&oe=5FC8FFE0"  onerror="this.src='./resources/images/global/noimg.jpg'" alt="썸네일" />
										</div>
										<h3>생활SOC 복합화 사업 데이터활용 영상</h3>
										<span>2020.04.13</span>
									</a>
								</li>
							</ul>
							
							<ul id="slider_sns_blog" class="section-gallery section-gallery-whitemode" style="display:none;">
								<li id="sns_blog1">
									<a href="http://blog.naver.com/redis12/222134206758" target="_blank">
										<div class="thumb">
											<div class="icons">
												<img src="./resources/images/main/section-sns-thumb-blog.png"
													onerror="this.src='./resources/images/global/noimg.jpg'"
													alt="네이버 블로그" />
											</div>
											<img src=""
												onerror="this.src='./resources/images/global/noimg.jpg'"
												alt="썸네일" />
										</div>
										<h3>국토 균형발전을 위한 지역 주민자치와 주민자치회제도에 관한 고찰</h3> <span>2020.11.03</span>
									</a>
								</li>
								<li id="sns_blog2">
									<a href="http://blog.naver.com/redis12/222134103613" target="_blank">
										<div class="thumb">
											<div class="icons">
												<img src="./resources/images/main/section-sns-thumb-blog.png"
													onerror="this.src='./resources/images/global/noimg.jpg'"
													alt="네이버 블로그" />
											</div>
											<img src=""
												onerror="this.src='./resources/images/global/noimg.jpg'"
												alt="썸네일" />
										</div>
										<h3>서울 가볼 만한 곳, 복합문화공간으로 재탄생한 노들섬</h3> <span>2020.11.03</span>
									</a>
								</li>
								<li id="sns_blog3">
									<a href="http://blog.naver.com/redis12/222134099898" target="_blank">
										<div class="thumb">
											<div class="icons">
												<img src="./resources/images/main/section-sns-thumb-blog.png"
													onerror="this.src='./resources/images/global/noimg.jpg'"
													alt="네이버 블로그" />
											</div>
											<img src=""
												onerror="this.src='./resources/images/global/noimg.jpg'"
												alt="썸네일" />
										</div>
										<h3>[NABIS 뉴스레터 14호_커버스토리] Covid - 19 펜데믹 이후의 도시환경 변화</h3> <span>2020.11.03</span>
									</a>
								</li>
								<li id="sns_blog4">
									<a href="http://blog.naver.com/redis12/222134069514" target="_blank">
										<div class="thumb">
											<div class="icons">
												<img src="./resources/images/main/section-sns-thumb-blog.png"
													onerror="this.src='./resources/images/global/noimg.jpg'"
													alt="네이버 블로그" />
											</div>
											<img src=""
												onerror="this.src='./resources/images/global/noimg.jpg'"
												alt="썸네일" />
										</div>
										<h3>6차 산업이 활성화되어야 국가 균형발전을 앞당길 수 있다</h3> <span>2020.11.03</span>
									</a>
								</li>
							</ul>
						</section>
					</div>
				</div>
			</div>
			<aside id="banner">
				<div class="container">
					<div class="logo-banner">
						<div class="logo-banner-title">
							<h2><span class="blind">유관기관 </span>배너존</h2>
							<ul class="logo-banner-pagination">
								<li class="logo-banner__prev"><a href="javascript:void(0);" title="이전으로"></a></li>
								<li class="logo-banner__pause"><a href="javascript:void(0);" title="일시정지"></a></li>
								<li class="logo-banner__start" style="display: none;"><a href="javascript:void(0);" title="재생하기"></a></li>
								<li class="logo-banner__next"><a href="javascript:void(0);" title="다음으로"></a></li>
							</ul>
						</div>
						<ul id="slider_banner" class="logo-banner-zone">
							<li><a href="#" title="새탭으로 사이트 바로가기" target="_blank"><img alt="배너" src="./resources/images/global/banner01.jpg" /></a></li>
							<li><a href="#" title="새탭으로 사이트 바로가기" target="_blank"><img alt="배너" src="./resources/images/global/banner02.jpg" /></a></li>
							<li><a href="#" title="새탭으로 사이트 바로가기" target="_blank"><img alt="배너" src="./resources/images/global/banner03.jpg" /></a></li>
							<li><a href="#" title="새탭으로 사이트 바로가기" target="_blank"><img alt="배너" src="./resources/images/global/banner04.jpg" /></a></li>
							<li><a href="#" title="새탭으로 사이트 바로가기" target="_blank"><img alt="배너" src="./resources/images/global/banner05.jpg" /></a></li>
							<li><a href="#" title="새탭으로 사이트 바로가기" target="_blank"><img alt="배너" src="./resources/images/global/banner06.jpg" /></a></li>
							<li><a href="#" title="새탭으로 사이트 바로가기" target="_blank"><img alt="배너" src="./resources/images/global/banner07.jpg" /></a></li>
							<li><a href="#" title="새탭으로 사이트 바로가기" target="_blank"><img alt="배너" src="./resources/images/global/banner07.jpg" /></a></li>
						</ul>
					</div>
				</div>
			</aside>
		</main>
		<footer id="footer">
			<nav class="footer-menu">
				<div class="container">
					<ul class="footer-menu__links">
						<li><a href="/base/contents/view?contentsNo=18&amp;menuLevel=2&amp;menuNo=45" title="페이지 바로가기">개인정보처리방침</a></li>
						<li><a href="/base/contents/view?contentsNo=19&amp;menuLevel=2&amp;menuNo=46" title="페이지 바로가기">저작권보호정책</a></li>
						<li><a href="/base/board/list?boardManagementNo=16&amp;menuLevel=2&amp;menuNo=51" title="정보공개 바로가기">정보공개</a></li>
						<!--
						<li><a href="#" title="페이지 바로가기">이용약관</a></li>
						<li><a href="#" title="페이지 바로가기">이메일무단수집거부</a></li>
						-->
					</ul>
					<ul class="footer-menu__icons">
						<li>
							<nav class="footer-menu__family">
								<h3 tabindex="0">중앙부처</h3>
								<ul>
									<li><a href="http://www.opm.go.kr/" target="_blank" title="새창">국무조정실 </a></li>
									<li><a href="http://www.moleg.go.kr/" target="_blank" title="새창">법제처 </a></li>
									<li><a href="http://www.mpva.go.kr/" target="_blank" title="새창">국가보훈처 </a></li>
									<li><a href="http://www.mpm.go.kr/" target="_blank" title="새창">인사혁신처</a></li>
									<li><a href="http://www.mfds.go.kr/" target="_blank" title="새창">식품의약품안전처 </a></li>
									<li><a href="http://www.mosf.go.kr/" target="_blank" title="새창">기획재정부</a></li>
									<li><a href="http://www.msip.go.kr/" target="_blank" title="새창">과학기술정보통신부</a></li>
									<li><a href="http://www.moe.go.kr/" target="_blank" title="새창">교육부</a></li>
									<li><a href="http://www.mofa.go.kr/" target="_blank" title="새창">외교부</a></li>
									<li><a href="http://www.unikorea.go.kr/" target="_blank" title="새창">통일부</a></li>
									<li><a href="http://www.moj.go.kr/" target="_blank" title="새창">법무부</a></li>
									<li><a href="http://www.mnd.go.kr/" target="_blank" title="새창">국방부</a></li>
									<li><a href="http://www.mois.go.kr/" target="_blank" title="새창">행정안전부</a></li>
									<li><a href="http://www.mcst.go.kr/" target="_blank" title="새창">문화체육관광부</a></li>
									<li><a href="http://www.mafra.go.kr/" target="_blank" title="새창">농림축산식품부</a></li>
									<li><a href="http://www.motie.go.kr/" target="_blank" title="새창">산업통상자원부</a></li>
									<li><a href="http://www.mohw.go.kr/" target="_blank" title="새창">보건복지부</a></li>
									<li><a href="http://www.me.go.kr/" target="_blank" title="새창">환경부</a></li>
									<li><a href="http://www.moel.go.kr/" target="_blank" title="새창">고용노동부</a></li>
									<li><a href="http://www.mogef.go.kr/" target="_blank" title="새창">여성가족부</a></li>
									<li><a href="http://www.molit.go.kr/" target="_blank" title="새창">국토교통부</a></li>
									<li><a href="http://www.mof.go.kr/" target="_blank" title="새창">해양수산부</a></li>
									<li><a href="http://www.smba.go.kr/" target="_blank" title="새창">중소벤처기업부</a></li>
								</ul>
							</nav>
						</li>
						<li>
							<nav class="footer-menu__family">
								<h3 tabindex="0">타시도</h3>
								<ul>
									<li><a href="http://www.seoul.go.kr/" target="_blank" title="새창">서울특별시</a></li>
									<li><a href="http://www.busan.go.kr/" target="_blank" title="새창">부산광역시</a></li>
									<li><a href="http://www.daegu.go.kr/" target="_blank" title="새창">대구광역시</a></li>
									<li><a href="http://www.incheon.go.kr/" target="_blank" title="새창">인천광역시</a></li>
									<li><a href="http://www.gwangju.go.kr/" target="_blank" title="새창">광주광역시</a></li>
									<li><a href="http://www.daejeon.go.kr/" target="_blank" title="새창">대전광역시</a></li>
									<li><a href="http://www.ulsan.go.kr/" target="_blank" title="새창">울산광역시</a></li>
									<li><a href="http://www.sejong.go.kr/" target="_blank" title="새창">세종특별자치시</a></li>
									<li><a href="http://www.gg.go.kr/" target="_blank" title="새창">경기도</a></li>
									<li><a href="http://www.provin.gangwon.kr/" target="_blank" title="새창">강원도</a></li>
									<li><a href="http://www.cb21.net/" target="_blank" title="새창">충청북도</a></li>
									<li><a href="http://www.chungnam.go.kr" target="_blank" title="새창">충청남도</a></li>
									<li><a href="http://www.jeonbuk.go.kr/" target="_blank" title="새창">전라북도</a></li>
									<li><a href="http://www.jeonnam.go.kr/" target="_blank" title="새창">전라남도</a></li>
									<li><a href="http://www.gb.go.kr/" target="_blank" title="새창">경상북도</a></li>
									<li><a href="http://www.gyeongnam.go.kr" target="_blank" title="새창">경상남도</a></li>
									<li><a href="http://www.jeju.go.kr/" target="_blank" title="새창">제주특별자치도</a></li>
								</ul>
							</nav>
						</li>
						<!--
						<li><a href="#" title="새창으로 사이트"><img src="./resources/images/global/footer-menu__icons-01.png" alt="페이스북" /></a></li>
						<li><a href="#" title="새창으로 사이트"><img src="./resources/images/global/footer-menu__icons-02.png" alt="블로그" /></a></li>
						<li><a href="#" title="새창으로 사이트"><img src="./resources/images/global/footer-menu__icons-03.png" alt="유튜브" /></a></li>
						-->
						<li><a class="scroll-top" href="#" title="최상단 바로가기"><img src="./resources/images/global/footer-menu__icons-04.png" alt="맨 위로"></a></li>
					</ul>
				</div>
			</nav>
			<div class="footer-copyright">
				<div class="container">
					<h2 class="footer-copyright__logo"><img src="./resources/images/global/footer-logo.png" alt="국가균형발전위원회 로고"></h2>
					<div class="footer-copyright__text">
						<address>03171 서울특별시 종로구 세종대로 209(세종로) 정부서울청사 4층</address>
						<p>Copyright 2020 국가균형발전위원회. All Rights Reserved.</p>
					</div>
					<div class="footer-copyright__mark">
						<a href="http://www.kwacc.or.kr/" title="한국웹접근성평가센터 인증현황 바로가기_새창" target="_blank"><img src="./resources/images/global/accessibility.png" alt="국가공인 웹 접근성 품질인증마크" /></a>
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>