<!doctype html>
<html lang="kr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>gulp</title>
	<link rel="stylesheet" href="./resources/styles/style.css">
</head>
<body>

	<div class="flex">
		<div class="flex-item">1</div>
		<div class="flex-item">2</div>
		<div class="flex-item">3<br>3<br>3<br>3<br>3<br>3<br>3<br>3<br></div>
	</div>


<h2>기본 아이콘 작성</h2>
<i class="icon-play"></i>



<h2>커스텀 아이콘 작성</h2>
<p>_pages.scss 확인</p>
<div>
	<i class="icon-test"></i>
</div>

</body>
</html>