<!DOCTYPE html>
<html lang="ko">
<head>
		
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1, viewport-fit=cover">
	<title>국가균형발전위원회</title>

	<link rel="shortcut icon" href="http://www.balance.go.kr/favicon.ico" type="image/x-icon">

	<link href="./resources/styles/old/common.css" rel="stylesheet" type="text/css" />
	<link href="./resources/styles/old/style.css" rel="stylesheet" type="text/css" />
	<link href="./resources/styles/style.css" rel="stylesheet" type="text/css" />
	<link href="./resources/styles/sub.css" rel="stylesheet" type="text/css" />
	<link href="./resources/styles/old/ionicons.min.css" rel="stylesheet" type="text/css" />
	
    <script type="text/javascript" src="./resources/scripts/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="./resources/scripts/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="./resources/scripts/jquery.fitvids.js"></script>
	<script type="text/javascript" src="./resources/scripts/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="./resources/scripts/slick.js"></script>
	<script type="text/javascript" src="./resources/scripts/jquery.scrollbar.js"></script>
	<script type="text/javascript" src="./resources/scripts/jquery.balance.js"></script>

	<!--[if lt IE 9]>
		<script type="text/javascript" src="./resources/scripts/html5shiv.min.js"></script>
		<script type="text/javascript" src="./resources/scripts/selectivizr.js"></script>
		<script type="text/javascript" src="./resources/scripts/ie9.js"></script>
	<![endif]-->
	<!--[if lte IE 9]>
		<link href="./resources/styles/chosen.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="./resources/scripts/chosen.jquery.js"></script>
		<script>$(function(){$("select").chosen({disable_search_threshold: 100});});</script>
    <![endif]-->
</head>
<body>
	<div class="scrollbar">
		<header id="header">
			<div class="container">
				<h1><a href="/" title="홈으로"><img src="./resources/images/global/header-logo.png" alt="국가균형발전위원회" /></a></h1>
				<nav>
					<ul class="menus">
						<li><a href="#" title="메뉴 바로가기">위원회소개</a></li>
						<li><a href="#" title="메뉴 바로가기">위원회 사람들</a></li>
						<li><a href="#" title="메뉴 바로가기">국가균형발전</a></li>
						<li><a href="#" title="메뉴 바로가기">알림/소식</a></li>
					</ul>
					<ul class="links">
						<li><a href="https://www.nabis.go.kr/" title="사이트 바로가기" target="_blank"><img src="./resources/images/global/header-links-nabis.png" alt="NABIS" /></a></li>
						<li><a href="#" title="사이트 바로가기" target="_blank"><img width="38" src="./resources/images/icons/facebook.png" alt="페이스북" /></a></li>
						<li><a href="#" title="사이트 바로가기" target="_blank"><img width="38" src="./resources/images/icons/blog.png" alt="블로그" /></a></li>
						<li><a href="#" title="사이트 바로가기" target="_blank"><img width="38" src="./resources/images/icons/youtube.png" alt="유튜브" /></a></li>
					</ul>
					<ul class="icons">
						<li>
							<a class="gnb-open" href="#" title="메뉴 펼치기" target="_blank"><img src="./resources/images/icons/menu.png" alt="메뉴" /></a>
							<a class="gnb-close" href="#" title="메뉴 접기" target="_blank"><img src="./resources/images/icons/close.png" alt="메뉴" /></a>
						</li>
						<li>
							<a class="search-open" href="#" title="검색 펼치기" target="_blank"><img src="./resources/images/icons/search.png" alt="검색" /></a>
							<a class="search-close" href="#" title="검색 접기" target="_blank"><img src="./resources/images/icons/close.png" alt="메뉴" /></a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<div id="gnb">
			<div class="scrollbar">
				<div class="gnb-inner">
					<ul class="menus">
						<li><a href="#" title="메뉴 바로가기">센터소식</a>
							<ul>
								<li><a href="#" title="메뉴 바로가기">위원장 인사말</a></li>
								<li><a href="#" title="메뉴 바로가기">위원회 구성</a></li>
								<li><a href="#" title="메뉴 바로가기">CI 소개</a></li>
								<li><a href="#" title="메뉴 바로가기">찾아오시는 길</a></li>
							</ul>
						</li>
						<li><a href="#" title="메뉴 바로가기">주요사업</a>
							<ul>
								<li><a href="#" title="메뉴 바로가기">위촉위원</a></li>
								<li><a href="#" title="메뉴 바로가기">당연직위원회</a></li>
								<li><a href="#" title="메뉴 바로가기">전문위원</a></li>
								<li><a href="#" title="메뉴 바로가기">기획단</a>
									<ul>
										<li><a href="#" title="메뉴 바로가기">국가균형발전기획단</a></li>
										<li><a href="#" title="메뉴 바로가기">기획단 조직과 업무</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="#" title="메뉴 바로가기">공모지원</a>
							<ul>
								<li><a href="#" title="메뉴 바로가기">비전과 전략</a></li>
								<li><a href="#" title="메뉴 바로가기">추진실적</a></li>
								<li><a href="#" title="메뉴 바로가기">연혁</a></li>
							</ul>
						</li>
						<li><a href="#" title="메뉴 바로가기">정보더하기</a>
							<ul>
								<li><a href="#" title="메뉴 바로가기">공지사항</a></li>
								<li><a href="#" title="메뉴 바로가기">보도자료</a></li>
								<li><a href="#" title="메뉴 바로가기">위원회 활동</a></li>
								<li><a href="#" title="메뉴 바로가기">자료실</a>
									<ul>
										<li><a href="#" title="메뉴 바로가기">영상</a></li>
										<li><a href="#" title="메뉴 바로가기">문서</a></li>
										<li><a href="#" title="메뉴 바로가기">사진</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="search">
			<div class="form-outer">
				<form id="searchForm" name="searchForm" action="/" method="post">
					<input id="search-keyword" name="allKeyWord" type="text" title="통합검색" placeholder="검색어를 입력해주세요">
					<button type="submit" onclick="document.searchForm.submit(); return false;">검색</button>
				</form>
			</div>
		</div>
		<main id="main">
			<div class="subpage">

				<div class="container">
					<section id="content">
						<div class="subtitle">
							<h2>공지사항</h2>
							<nav class="breadcrumb" aria-label="breadcrumb">
								<h2 class="blind">사이트 이동 경로(Breadcrumb Navigation)</h2>
								<ul>													
									<li><a href="#aydf" title="${topInformation.firstTitle} 메뉴로 이동" aria-current="page">1뎁스 메뉴명</a></li>							
									<li><a href="#aydf" title="${topInformation.secondTitle} 메뉴로 이동" aria-current="page">2뎁스 메뉴명</a></li>							
									<li><a href="#aydf" title="${topInformation.thirdTitle} 메뉴로 이동" aria-current="page">3뎁스 메뉴명</a></li>							
									<li><a href="#aydf" title="${topInformation.fourthTitle} 메뉴로 이동" aria-current="page">4뎁스 메뉴명</a></li>							
								</ul>
							</nav>
							<a class="subtitle-prev" href="#" title="이전메뉴 바로가기"><img src="./resources/images/global/subtitle-prev.png" alt="이전" /><span>공지사항</span></a>
							<a class="subtitle-next" href="#" title="다음메뉴 바로가기"><img src="./resources/images/global/subtitle-next.png" alt="다음" /><span>보도자료</span></a>
						</div>

						<div>
							<div class="video-manu">
								<div class="video-manu-title">
									<h3>동영상 원고</h3>
									<div class="video-manu-title-btn">
										<a class="video-scroll-delete" href="#" title="한눈에 보기(스크롤 없애기)">한눈에 보기</a>
										<a class="video-scroll-append" href="#" title="스크롤 보기">스크롤 보기</a>
									</div>
								</div>
								<div class="video-manu-content">
									<div class="video-manu-content-inner">
										<p style="text-align: center;">(인트로)<br>
										청춘 KOREA</p>
										
										<p style="text-align: center;">청춘, 로컬을 창업하다<br>
										#십선비</p>
										
										<p style="text-align: center;">&nbsp;</p>
										
										<p style="text-align: center;">(이지민 - 홀리데이 대표 / 나레이션 및 인터뷰)</p>
										
										<p style="text-align: center;">청주에는 선비들이 굉장히 많았어요<br>
										토박이들이 많아서 집성촌도 있었고 지역유지도 많고 면적당 학교들도 굉장히 많아요.<br>
										지역성을 띨 수 있는 게 과연 무엇일까?<br>
										사람들이 가장 먼저 접하는 것은 이름이니까, 이 선비를 가지고 뭔가 이름을 지을 수 없을까? 딱 저희가 열 명이더라구요, 열명의 선비?</p>
										
										<p style="text-align: center;">&nbsp;</p>
										
										<p style="text-align: center;">(가계 명패 클로즈업 - 십선비 十仙仁)</p>
										
										<p style="text-align: center;">술을 마시다가 자연스럽게 수제맥주에 대한 창업아이템을 생각하게 됬던 것 같아요<br>
										처음에는 저를 포함해서 열명의 수제 맥주들을 좋아하는 친구들이 청주에는 이런 걸 취급하는 데가 없고 우리가 그러면 한번 시도를 해보면 어떨까라는 생각이 맥주를 마시면서 자연스럽게 나왔던 것 같아요.<br>
										십선비 ESB라는 맥주는요, ESB는 스타일의 약어예요. Extra Strong Bitter 라는 영국식 페일 에일인데요. 허브와 같은 향긋한 향이 나고요. 마셨을 때는 맥아의 풍부한 맛 그리고 깔끔하게 넘어가는 맥주예요. 양조하는 친구가 좀 실력이 있고 유명한 친구예요. 특히 청주는 노잼도시라는 별명이 붙어있는 곳이예요. 청주만의 캐릭터! 조금 더 재밌게 사람들에게 다가갈 수 있겠다!<br>
										왜 청주에는 없을까라는 생각을 했었어요. 그럼 우리가 알려보는 활동을 하자. 그래서 저희가 분기마다 홀리데이 비어파티라는 걸 했습니다. 수제맥주 자체에 대한 아이템을 검증하는 기간을 약 1년 정도 거쳤고, 반응이 좋았고, 이 사업을 본격적으로 한번 진행해보기 위해서 2년 정도는 사업의 전반적인 방향성(이지민 - 공동대표 사업운영총괄 직무)이라던지 지역에서 다양한 활동들을 기획(김동현 - 공동대표 홍보기획 및 영업 직무)하고 레시피 개발(김명윤 - 헤드브루어 양조 직무)이라 던지, 디자인(민경훈 - 디자이너 디자인 및 마케팅 직무)이나 각자의 역량을 키워보자는 활동들을 했었습니다.<br>
										맥주는 사실 취하기 위해서 마시는 술은 아니라고 생각돼요. 유럽같은 경우에는 일이 끝나고 나서 하루의 마무리를 할 때 스트레스를 해소하기 위해서 지인들과 한 잔 두잔 마시고 헤어지는 문화가 정말 많이 발달되어 있습니다. 삶의 여유 이런 것들을 저희 맥주를 마셨을 때 느끼셨으면 좋겠다는 생각이 있어서 그래서 이름도 홀리데이라는 이름으로 짓게 되었습니다.<br>
										맥주의 가장 큰 매력은 다양성이예요. 종류만 600여가지가 넘고 그 종류를 하나씩 찾아 마시는 재미들도 있어요. 그래서 다양한 도전정신 쉐어링 문화가 정말 발달되어 있습니다. 손님들이 각자 맥주를 가지고 와서 같이 나눠 마시자라는 이야기를 많이 하세요. 똑같은 맥주를 다 가지고 오지 않습니다. 저는 청주가 맥주처럼 다양성이 있는 그런 도시가 되었으면 좋겠습니다.<br>
										저희와 생각의 결이 맞는 분들과 함께 하면 어떨까라는 생각이 있어서 충북창조경제혁신센터에서 지역성을 가지고 사업을 하시는 크리에이터 분들 그 분들과 계속 소통을 하다가 충북로컬크리에이터 협동조합이라는 것을 만들어서 다양하게 활동들을 하고 있습니다. 저희가 작년에 퇴근길 바캉스라는 프로그램을 진행했는데 같이 다양한 작품 만들기도 하시고 맥주로 하루를 마무리한다는 그런 이벤트들도 진행이 많이 됐었고 올 여름에 비가 굉장히 많이 왔잖아요? 농가 쪽에서 낙과 문제가 고민이에요. 그래서 자두 낙과로세종이라는 벨기에식 농주를 만들었거든요. 저희가 내년에는 이런 거를 좀 더 사업화하는 쪽으로 생각을 하고 있습니다. 물론 지금은 미비하겠지만 이런 것들이 하나씩 쌓여서 나가다 보면 어느 순간에는 재밌는 청주 이 지역에 놀러가면 재밌겠다라는 생각이 들 수 있지 않을까라고 생각하고 잇습니다.</p>
										
										<p style="text-align: center;">&nbsp;</p>
										
										<p style="text-align: center;">(홀리데이 2020 로컬송 프로젝트 - 문화충동)</p>
										
										<p style="text-align: center;">아껴쓰지마 젊음<br>
										우리는 잠깐 세상에 들렀다 가는 것뿐</p>
										
										<p style="text-align: center;">It's a holiday.</p>
										
										<p style="text-align: center;">여전히 알지 멋을 그러니깐 넘치지 않게 따라줘봐 거품</p>
										
										<p style="text-align: center;">It's a holiday.<br>
										Toast to our good days</p>
										
										<p style="text-align: center;">일어나지도 않은 일득에 걱정은 Useless.</p>
										
										<p style="text-align: center;">It's a holiday holiday holiday</p>
										
										<p style="text-align: center;">&nbsp;</p>
										
										<p style="text-align: center;">(이지민 - 홀리데이 대표 / 나레이션 및 인터뷰)</p>
										
										<p style="text-align: center;">아무리 생각을 해봐도 결돈에 도달했을 때는 서울에서 그렇게까지 제 자아를 실현하거나 제 삶을 끝까지 영위하는 데 있어서는 한계가 있다고 생각을 했었거든요.<br>
										지역에는 다양한 기회들이 있거든요. 오히려 더 지역에서 그 기회를 쉽게 잡고 내가 발전하는 데 있어서 좀 더 속도를 낼 수 있을 것 같다는 그런 것들을 경험적으로 좀 많이 얻었었거든요.</p>
										
										<p style="text-align: center;">맥주 한 잔 마시면서,<br>
										이야기를 서로 나누면서,<br>
										행복한 하루를 마무리하는 그런 재미를 빨리 되찾을 수 있게<br>
										빨리 백신이 나와서<br>
										일상을 다시 되찾고 싶다!</p>
										
										<p style="text-align: center;">by. 이지민</p>
										
										<p style="text-align: center;">&nbsp;</p>
										
										<p style="text-align: center;">(아웃트로)</p>
										
										<p style="text-align: center;">청춘, 로컬을 창업하다<br>
										#십선비<br>
										<br>
										대통령직속 국가균형발전위원회</p>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</main>
		<footer id="footer">
			<nav class="footer-menu">
				<div class="container">
					<ul class="footer-menu__links">
						<li><a href="#" title="페이지 바로가기">개인정보처리방침</a></li>
						<li><a href="#" title="페이지 바로가기">저작권보호정책</a></li>
						<li><a href="#" title="페이지 바로가기">이용약관</a></li>
						<li><a href="#" title="페이지 바로가기">이메일무단수집거부</a></li>
					</ul>
					<ul class="footer-menu__icons">
						<li>
							<nav class="footer-menu__family">
								<h3 tabindex="0">중앙부처</h3>
								<ul>
									<li><a href="http://www.pmo.go.kr/" target="_blank" title="새창">국무조정실 </a></li>
									<li><a href="http://www.moleg.go.kr/" target="_blank" title="새창">법제처 </a></li>
									<li><a href="http://www.mpva.go.kr/" target="_blank" title="새창">국가보훈처 </a></li>
									<li><a href="http://www.mpm.go.kr/" target="_blank" title="새창">인사혁신처</a></li>
									<li><a href="http://www.mfds.go.kr/" target="_blank" title="새창">식품의약품안전처 </a></li>
									<li><a href="http://www.mosf.go.kr/" target="_blank" title="새창">기획재정부</a></li>
									<li><a href="http://www.msip.go.kr/" target="_blank" title="새창">과학기술정보통신부</a></li>
									<li><a href="http://www.moe.go.kr/" target="_blank" title="새창">교육부</a></li>
									<li><a href="http://www.mofa.go.kr/" target="_blank" title="새창">외교부</a></li>
									<li><a href="http://www.unikorea.go.kr/" target="_blank" title="새창">통일부</a></li>
									<li><a href="http://www.moj.go.kr/" target="_blank" title="새창">법무부</a></li>
									<li><a href="http://www.mnd.go.kr/" target="_blank" title="새창">국방부</a></li>
									<li><a href="http://www.mois.go.kr/" target="_blank" title="새창">행정안전부</a></li>
									<li><a href="http://www.mcst.go.kr/" target="_blank" title="새창">문화체육관광부</a></li>
									<li><a href="http://www.mafra.go.kr/" target="_blank" title="새창">농림축산식품부</a></li>
									<li><a href="http://www.motie.go.kr/" target="_blank" title="새창">산업통상자원부</a></li>
									<li><a href="http://www.mohw.go.kr/" target="_blank" title="새창">보건복지부</a></li>
									<li><a href="http://www.me.go.kr/" target="_blank" title="새창">환경부</a></li>
									<li><a href="http://www.moel.go.kr/" target="_blank" title="새창">고용노동부</a></li>
									<li><a href="http://www.mogef.go.kr/" target="_blank" title="새창">여성가족부</a></li>
									<li><a href="http://www.molit.go.kr/" target="_blank" title="새창">국토교통부</a></li>
									<li><a href="http://www.mof.go.kr/" target="_blank" title="새창">해양수산부</a></li>
									<li><a href="http://www.smba.go.kr/" target="_blank" title="새창">중소벤처기업부</a></li>
								</ul>
							</nav>
						</li>
						<li>
							<nav class="footer-menu__family">
								<h3 tabindex="0">타시도</h3>
								<ul>
									<li><a href="http://www.seoul.go.kr/" target="_blank" title="새창">서울특별시</a></li>
									<li><a href="http://www.busan.go.kr/" target="_blank" title="새창">부산광역시</a></li>
									<li><a href="http://www.daegu.go.kr/" target="_blank" title="새창">대구광역시</a></li>
									<li><a href="http://www.incheon.go.kr/" target="_blank" title="새창">인천광역시</a></li>
									<li><a href="http://www.gwangju.go.kr/" target="_blank" title="새창">광주광역시</a></li>
									<li><a href="http://www.daejeon.go.kr/" target="_blank" title="새창">대전광역시</a></li>
									<li><a href="http://www.ulsan.go.kr/" target="_blank" title="새창">울산광역시</a></li>
									<li><a href="http://www.sejong.go.kr/" target="_blank" title="새창">세종특별자치시</a></li>
									<li><a href="http://www.gg.go.kr/" target="_blank" title="새창">경기도</a></li>
									<li><a href="http://www.provin.gangwon.kr/" target="_blank" title="새창">강원도</a></li>
									<li><a href="http://www.cb21.net/" target="_blank" title="새창">충청북도</a></li>
									<li><a href="http://www.chungnam.go.kr" target="_blank" title="새창">충청남도</a></li>
									<li><a href="http://www.jeonbuk.go.kr/" target="_blank" title="새창">전라북도</a></li>
									<li><a href="http://www.jeonnam.go.kr/" target="_blank" title="새창">전라남도</a></li>
									<li><a href="http://www.gb.go.kr/" target="_blank" title="새창">경상북도</a></li>
									<li><a href="http://www.gyeongnam.go.kr" target="_blank" title="새창">경상남도</a></li>
									<li><a href="http://www.jeju.go.kr/" target="_blank" title="새창">제주특별자치도</a></li>
								</ul>
							</nav>
						</li>
						<!--
						<li><a href="#" title="새창으로 사이트"><img src="/template/resources/images/global/footer-menu__icons-01.png" alt="페이스북" /></a></li>
						<li><a href="#" title="새창으로 사이트"><img src="/template/resources/images/global/footer-menu__icons-02.png" alt="블로그" /></a></li>
						<li><a href="#" title="새창으로 사이트"><img src="/template/resources/images/global/footer-menu__icons-03.png" alt="유튜브" /></a></li>
						-->
						<li><a class="scroll-top" href="#" title="최상단 바로가기"><img src="/template/resources/images/global/footer-menu__icons-04.png" alt="맨 위로"></a></li>
					</ul>
				</div>
			</nav>
			<div class="footer-copyright">
				<div class="container">
					<h2 class="footer-copyright__logo"><img src="./resources/images/global/footer-logo.png" alt="국가균형발전위원회" /></h2>
					<div class="footer-copyright__text">
						<address>03171 서울특별시 종로구 세종대로 209(세종로) 정부서울청사 4층</address>
						<p>Copyright 2020 국가균형발전위원회. All Rights Reserved.</p>
					</div>
					<nav class="footer-copyright__family">
						<h3 tabindex="0">주요사이트 바로가기</h3>
						<ul>
							<li><a href="#" title="새창으로 사이트 바로가기" target="_blank">하위메뉴</a></li>
							<li><a href="#" title="새창으로 사이트 바로가기" target="_blank">하위메뉴</a></li>
							<li><a href="#" title="새창으로 사이트 바로가기" target="_blank">하위메뉴</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>