.configuration {

	.configuration__link {
		background-color: #f7f7f7;
		text-align: center;
		padding: 35px;

		li {
			list-style: none;
			display: inline-block;
			margin: 0 13.5px;

			a {
				display: block;
				border-bottom: 3px solid #ccc;
				font-size: 19px;
				color: #333;
				font-weight: bold;
				text-decoration: none;
				padding: 10px 20px 10px 0;
				background-image: url(../../resources/images/sub/configuration__link-arrow.png);
				background-repeat: no-repeat;
				background-position: right;

				&:hover {
					color: $primary-color;
					border-bottom: 3px solid $primary-color;
				}
			}
		}
	}
}