<table width="640" border="0" cellpadding="0" cellspacing="0" align="center" class="outsideBorder"
	style="border:1px solid #bbc0c4;">
	<tbody>
		<tr>
			<td style="padding:20px 20px;">
				<table width="640" border="0" cellpadding="0" cellspacing="0">
					<tbody>
						<!-- 타이틀 -->
						<tr>
							<td>
								<a href="http://www.nurirock.or.kr" target="_blank">
									<img src="http://nurirock.or.kr/template/resources/images/email/top.jpg" alt="누리락 세종음악창작소">
								</a>
							</td>
						</tr>
						<!--// 타이틀 -->
						<!-- 인사말 -->
						<tr>
							<td>
								<div style="position:relative; height:155px;">
									<img src="http://nurirock.or.kr/template/resources/images/email/middle.jpg" alt="고객님 안녕하세요!">
									<p style="position:relative !important; top:-70px;left:115px;">휴면계정 전환 안내입니다</p>
								</div>
							</td>
						</tr>
						<!--// 인사말 -->


						<tr>
							<td style="padding:50px 20px 40px 20px; font-size:13px; font-family:Gulim; color:#393939; line-height:19px;">

								<p style="margin-top:0px;">
									<strong>회원</strong>님의 계정이 1개월 뒤 휴면계정으로 전환될 예정입니다. <br>

									기간 내 홈페이지에 로그인하시면 전환 없이 계정 이용이 가능합니다.
								</p>
								<p style="margin-top:13px;">
								</p>
								<p style="margin-top:13px;">
									정보통신망 이용촉진 및 정보보호 등에 관한 법률에 따라 회원님의 개인정보 보호를 위해 최근 1년이상 로그인 기록이 없는 사용자의 아이디를 휴먼계정으로 전환할 예정입니다.<br><br>
									휴면계정으로 전환될 경우, 세종음악창작소 홈페이지의 로그인 및 이용이 중지되오니 휴면계정으로 전환되지 않도록 <strong>2020년 11월 19일</strong>까지 세종음악창작소 홈페이지에 로그인 해 주시기 바랍니다.
									<br><br>
									세종음악창작소 누리락은 회원님의 개인정보를 소중히 관리하고 편안하게 서브스를 이용하실 수 있도록 더욱 노력 하겠습니다.
								</p>
							</td>
						</tr>
						<!--회원정보-->
						<tr>
							<td style="padding:0 20px 40px 20px;">

								<table width="100%" border="0" cellpadding="0" cellspacing="0"
								class="tableColor"
								style="font-size:12px; font-family:Gulim; line-height:15px; border-top:1px solid #d5d5d5;">
									<tbody>
										<tr>
											<th width="23%" scope="row" align="left" valign="middle"
												style="padding:13px 10px 10px; font-weight:normal; border-bottom:1px solid #d5d5d5; border-right:1px solid #d5d5d5; border-left:1px solid #d5d5d5; color:#80878d; background-color:#f5f6f5;">
												아이디</th>
											<td width="78%" align="left" valign="middle"
												style="padding:13px 10px 10px; border-bottom:1px solid #d5d5d5; border-right:1px solid #d5d5d5; color:#393939;">
												<strong>james930</strong></td>
										</tr>
										<tr>
											<th width="24%" scope="row" align="left" valign="middle"
												style="padding:13px 10px 10px; font-weight:normal; border-bottom:1px solid #d5d5d5; border-right:1px solid #d5d5d5; border-left:1px solid #d5d5d5; color:#80878d; background-color:#f5f6f5;">
												휴면 회원 처리일</th>
											<td width="78%" align="left" valign="middle"
												style="padding:13px 10px 10px; border-bottom:1px solid #d5d5d5; border-right:1px solid #d5d5d5; color:#393939;">
												<strong>2020-08-08</strong></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<!--//회원정보-->
						<tr>
							<td style="padding-bottom:17px;">
								<a href="http://nurirock.or.kr/sign/in/base/user?menuLevel=2&menuNo=8" target="_blank">
									<img src="http://nurirock.or.kr/template/resources/images/email/login.jpg" alt="로그인 하러 가기">
								</a>
							</td>
						</tr>
<!--
						<tr>
							<td style="padding:20px; background-color:#eee; font-size:12px; font-family:Gulim; color:#393939; line-height:19px;">
								<p>
									본 메일은 관련법령(정보통신망
									이용촉진 및 정보보호 등에 관한 법률 제29조 제2항)에 의한 '개인정보 유효기간제'시행에 따라 수신동의 여부에 관계 없이 발송되었습니다. 본 메일은 발신전용이므로 회신이 되지 않습니다.</p>
								<p style="margin-top:13px;">
									문의사항은 고객센터를 이용해 주시기 바랍니다.</p>
								<p style="margin-top:13px;">
									감사합니다.</p>
							</td>
						</tr>
 -->

					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td class="companyInfo"
				style="padding:24px 34px; font-family:Gulim; font-size:12px; line-height:18px; background-color:#eee;  color:#000;">
				<p>
					Tel : <strong>044-850-0570 ~ 0573</strong> | Fax : 044-864-9731 <br>
					주소 : 세종특별자치시 갈매로 387, 박연문화관 지하2층(30119)<br>

					대표 : 김종률 | 사업자 등록번호 [372-82-00084]

				</p>
				<p>
					Copyright(c)  all rights reserved.
				</p>
			</td>
		</tr>
	</tbody>
</table>