$section-title-height: 70px;
$section-title-content-height: 30px;

.section-title {
	height: $section-title-height;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px;
	color: #666;

	a {
		color: inherit;
		text-decoration: none;
	}

	& > a {
		display: block;
	}

	h2 {
		box-sizing: content-box;
		padding: (($section-title-height - $section-title-content-height) / 2) 0;
		float: left;
		
		@include breakpoints(xs) {
			height: $section-title-content-height / 4 * 3;
			line-height: $section-title-content-height / 4 * 3;
			font-size: 18px;
		}

		@include breakpoints(sm) {
			height: $section-title-content-height;
			line-height: $section-title-content-height;
			font-size: 18px;
		}

		@include breakpoints(md) {
			height: $section-title-content-height;
			line-height: $section-title-content-height;
			font-size: 20px;
		}

		@include breakpoints(lg) {
			height: $section-title-content-height;
			line-height: $section-title-content-height;
			font-size: 22px;
		}

		@include breakpoints(xl) {
			height: $section-title-content-height;
			line-height: $section-title-content-height;
			font-size: 24px;
		}

		img {
			float: left;
			display: block;
			height: 20px;
			margin: (($section-title-content-height - 20px) / 2) 0;
		}

		sub {
			float: right;
			height: 20px;
			line-height: 20px;
			vertical-align: initial;
			margin: (($section-title-content-height - 20px) / 2) 0;
			margin-left: 14px;

			@include breakpoints(xs) {
				display: none;
			}
	
			@include breakpoints(sm) {
				display: block;
			}
		}
	}

	.section-title__control {
		float: right;
		padding: 20px 0;

		ul.section-title__control__sns {
			float: left;
				
			@include breakpoints(xs) {
				margin: 0 (-5px / 2);
			}
			
			@include breakpoints(sm) {
				margin: 0 -5px;
			}

			li {
				list-style: none;
				float: left;
				
				@include breakpoints(xs) {
					padding: (($section-title-content-height - 30px) / 2) (5px / 2);
				}
				
				@include breakpoints(sm) {
					padding: (($section-title-content-height - 30px) / 2) 5px;
				}

				a {
					display: block;

					img {
						display: block;

						@include breakpoints(xs) {
							height: $section-title-content-height / 4 * 3;
						}

						@include breakpoints(sm) {
							height: $section-title-content-height;
						}
					}
				}
			}

			& + .section-title__control__arrows {
				
				@include breakpoints(xs) {
					margin-left: (25px / 2) - 8px;
				}
				
				@include breakpoints(sm) {
					margin-left: 25px - 8px;
				}
			}

			@include clear-both();
		}

		ul.section-title__control__arrows {
			float: left;

			@include breakpoints(xs) {
				height: $section-title-content-height / 4 * 3;
				line-height: $section-title-content-height / 4 * 3;
				margin: 0 ((-8px / 2) * 1);
			}

			@include breakpoints(sm) {
				height: $section-title-content-height;
				line-height: $section-title-content-height;
				margin: 0 ((-8px / 2) * 2);
			}

			li {
				list-style: none;
				float: left;

				a {
					display: block;
					background-repeat: no-repeat;
					background-position: center center;
					overflow: hidden;
					text-indent: -9999px;
					color: transparent;
					box-sizing: content-box;

					@include breakpoints(xs) {
						width: (8px / 10) * 9;
						height: (13px / 10) * 9;
						padding: ((($section-title-content-height / 4 * 3) - 13px) / 2) ((8px / 2) * 1);
					}

					@include breakpoints(sm) {
						width: (8px / 10) * 10;
						height: (13px / 10) * 10;
						padding: (($section-title-content-height - 13px) / 2) ((8px / 2) * 2);
					}
				}

				&.section-title__control__arrows__prev {
						
					a {
						background-image: url("../../resources/images/global/section-title-default-prev.png");
					}
				}

				&.section-title__control__arrows__pause {
					
					a {
						background-image: url("../../resources/images/global/section-title-default-pause.png");
					}
				}

				&.section-title__control__arrows__start {
					
					a {
						background-image: url("../../resources/images/global/section-title-default-start.png");
					}
				}

				&.section-title__control__arrows__next {
					
					a {
						background-image: url("../../resources/images/global/section-title-default-next.png");
					}
				}
			}

			& + a.section-title__control__more {
				@include breakpoints(xs) {
					margin-left: (24px / 2);
				}

				@include breakpoints(sm) {
					margin-left: 24px;
				}
			}

			@include clear-both;
		}

		a.section-title__control__more {
			float: left;
			display: block;
			background-image: url("../../resources/images/global/section-title-default-more.png");
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 100% 100%;
			overflow: hidden;
			text-indent: -9999px;
			color: transparent;

			@include breakpoints(xs) {
				width: (16px / 10) * 9;
				height: (16px / 10) * 9;
				margin: ((($section-title-content-height / 4 * 3) - 16px) / 2) 0;
			}
			
			@include breakpoints(sm) {
				width: (16px / 10) * 10;
				height: (16px / 10) * 10;
				margin: (($section-title-content-height - 16px) / 2) 0;
			}
		}

		@include clear-both;
	}

	&.section-title-whitemode, &.section-title-darkmode {

		.section-title__control {
			
			ul.section-title__control__arrows {

				li {

					&.section-title__control__arrows__prev {
						
						a {
							background-image: url("../../resources/images/global/section-title-white-prev.png");
						}
					}

					&.section-title__control__arrows__pause {
						
						a {
							background-image: url("../../resources/images/global/section-title-white-pause.png");
						}
					}

					&.section-title__control__arrows__start {
						
						a {
							background-image: url("../../resources/images/global/section-title-white-start.png");
						}
					}

					&.section-title__control__arrows__next {
						
						a {
							background-image: url("../../resources/images/global/section-title-white-next.png");
						}
					}
				}
			}

			a.section-title__control__more {
				background-image: url("../../resources/images/global/section-title-white-more.png");
			}
		}
	}

	&.section-title-whitemode {
		color: white;
	}

	&.section-title-darkmode {
		background-color: #3a3e51;
		color: #adaeae;
	}
}