		$alert-icon-name: 'alert-icon';
		$alert-icon-x: 0px;
		$alert-icon-y: 844px;
		$alert-icon-offset-x: 0px;
		$alert-icon-offset-y: -844px;
		$alert-icon-width: 15px;
		$alert-icon-height: 16px;
		$alert-icon-total-width: 916px;
		$alert-icon-total-height: 860px;
		$alert-icon-image: '../images/sprite.png';
		$alert-icon: (0px, 844px, 0px, -844px, 15px, 16px, 916px, 860px, '../images/sprite.png', 'alert-icon', );
		$all-menu-btn-name: 'all-menu-btn';
		$all-menu-btn-x: 146px;
		$all-menu-btn-y: 705px;
		$all-menu-btn-offset-x: -146px;
		$all-menu-btn-offset-y: -705px;
		$all-menu-btn-width: 22px;
		$all-menu-btn-height: 22px;
		$all-menu-btn-total-width: 916px;
		$all-menu-btn-total-height: 860px;
		$all-menu-btn-image: '../images/sprite.png';
		$all-menu-btn: (146px, 705px, -146px, -705px, 22px, 22px, 916px, 860px, '../images/sprite.png', 'all-menu-btn', );
		$all-menu-close-name: 'all_menu_close';
		$all-menu-close-x: 611px;
		$all-menu-close-y: 507px;
		$all-menu-close-offset-x: -611px;
		$all-menu-close-offset-y: -507px;
		$all-menu-close-width: 30px;
		$all-menu-close-height: 30px;
		$all-menu-close-total-width: 916px;
		$all-menu-close-total-height: 860px;
		$all-menu-close-image: '../images/sprite.png';
		$all-menu-close: (611px, 507px, -611px, -507px, 30px, 30px, 916px, 860px, '../images/sprite.png', 'all_menu_close', );
		$all-menu-close2-name: 'all_menu_close2';
		$all-menu-close2-x: 240px;
		$all-menu-close2-y: 625px;
		$all-menu-close2-offset-x: -240px;
		$all-menu-close2-offset-y: -625px;
		$all-menu-close2-width: 29px;
		$all-menu-close2-height: 29px;
		$all-menu-close2-total-width: 916px;
		$all-menu-close2-total-height: 860px;
		$all-menu-close2-image: '../images/sprite.png';
		$all-menu-close2: (240px, 625px, -240px, -625px, 29px, 29px, 916px, 860px, '../images/sprite.png', 'all_menu_close2', );
		$check-type-name: 'check-type';
		$check-type-x: 459px;
		$check-type-y: 778px;
		$check-type-offset-x: -459px;
		$check-type-offset-y: -778px;
		$check-type-width: 12px;
		$check-type-height: 9px;
		$check-type-total-width: 916px;
		$check-type-total-height: 860px;
		$check-type-image: '../images/sprite.png';
		$check-type: (459px, 778px, -459px, -778px, 12px, 9px, 916px, 860px, '../images/sprite.png', 'check-type', );
		$confirm-name: 'confirm';
		$confirm-x: 618px;
		$confirm-y: 250px;
		$confirm-offset-x: -618px;
		$confirm-offset-y: -250px;
		$confirm-width: 49px;
		$confirm-height: 71px;
		$confirm-total-width: 916px;
		$confirm-total-height: 860px;
		$confirm-image: '../images/sprite.png';
		$confirm: (618px, 250px, -618px, -250px, 49px, 71px, 916px, 860px, '../images/sprite.png', 'confirm', );
		$copy-li-bg-name: 'copy_li_bg';
		$copy-li-bg-x: 911px;
		$copy-li-bg-y: 60px;
		$copy-li-bg-offset-x: -911px;
		$copy-li-bg-offset-y: -60px;
		$copy-li-bg-width: 1px;
		$copy-li-bg-height: 13px;
		$copy-li-bg-total-width: 916px;
		$copy-li-bg-total-height: 860px;
		$copy-li-bg-image: '../images/sprite.png';
		$copy-li-bg: (911px, 60px, -911px, -60px, 1px, 13px, 916px, 860px, '../images/sprite.png', 'copy_li_bg', );
		$copy-li-bg2-name: 'copy_li_bg2';
		$copy-li-bg2-x: 911px;
		$copy-li-bg2-y: 0px;
		$copy-li-bg2-offset-x: -911px;
		$copy-li-bg2-offset-y: 0px;
		$copy-li-bg2-width: 5px;
		$copy-li-bg2-height: 10px;
		$copy-li-bg2-total-width: 916px;
		$copy-li-bg2-total-height: 860px;
		$copy-li-bg2-image: '../images/sprite.png';
		$copy-li-bg2: (911px, 0px, -911px, 0px, 5px, 10px, 916px, 860px, '../images/sprite.png', 'copy_li_bg2', );
		$date-name: 'date';
		$date-x: 200px;
		$date-y: 778px;
		$date-offset-x: -200px;
		$date-offset-y: -778px;
		$date-width: 14px;
		$date-height: 14px;
		$date-total-width: 916px;
		$date-total-height: 860px;
		$date-image: '../images/sprite.png';
		$date: (200px, 778px, -200px, -778px, 14px, 14px, 916px, 860px, '../images/sprite.png', 'date', );
		$down-icon1-name: 'down-icon1';
		$down-icon1-x: 848px;
		$down-icon1-y: 711px;
		$down-icon1-offset-x: -848px;
		$down-icon1-offset-y: -711px;
		$down-icon1-width: 9px;
		$down-icon1-height: 13px;
		$down-icon1-total-width: 916px;
		$down-icon1-total-height: 860px;
		$down-icon1-image: '../images/sprite.png';
		$down-icon1: (848px, 711px, -848px, -711px, 9px, 13px, 916px, 860px, '../images/sprite.png', 'down-icon1', );
		$down-icon2-name: 'down-icon2';
		$down-icon2-x: 848px;
		$down-icon2-y: 648px;
		$down-icon2-offset-x: -848px;
		$down-icon2-offset-y: -648px;
		$down-icon2-width: 9px;
		$down-icon2-height: 13px;
		$down-icon2-total-width: 916px;
		$down-icon2-total-height: 860px;
		$down-icon2-image: '../images/sprite.png';
		$down-icon2: (848px, 648px, -848px, -648px, 9px, 13px, 916px, 860px, '../images/sprite.png', 'down-icon2', );
		$foot-img-name: 'foot_img';
		$foot-img-x: 0px;
		$foot-img-y: 0px;
		$foot-img-offset-x: 0px;
		$foot-img-offset-y: 0px;
		$foot-img-width: 421px;
		$foot-img-height: 51px;
		$foot-img-total-width: 916px;
		$foot-img-total-height: 860px;
		$foot-img-image: '../images/sprite.png';
		$foot-img: (0px, 0px, 0px, 0px, 421px, 51px, 916px, 860px, '../images/sprite.png', 'foot_img', );
		$footer-select-bul-name: 'footer-select-bul';
		$footer-select-bul-x: 441px;
		$footer-select-bul-y: 705px;
		$footer-select-bul-offset-x: -441px;
		$footer-select-bul-offset-y: -705px;
		$footer-select-bul-width: 23px;
		$footer-select-bul-height: 8px;
		$footer-select-bul-total-width: 916px;
		$footer-select-bul-total-height: 860px;
		$footer-select-bul-image: '../images/sprite.png';
		$footer-select-bul: (441px, 705px, -441px, -705px, 23px, 8px, 916px, 860px, '../images/sprite.png', 'footer-select-bul', );
		$h4-bul-name: 'h4-bul';
		$h4-bul-x: 911px;
		$h4-bul-y: 460px;
		$h4-bul-offset-x: -911px;
		$h4-bul-offset-y: -460px;
		$h4-bul-width: 3px;
		$h4-bul-height: 3px;
		$h4-bul-total-width: 916px;
		$h4-bul-total-height: 860px;
		$h4-bul-image: '../images/sprite.png';
		$h4-bul: (911px, 460px, -911px, -460px, 3px, 3px, 916px, 860px, '../images/sprite.png', 'h4-bul', );
		$header-icon1-name: 'header-icon1';
		$header-icon1-x: 770px;
		$header-icon1-y: 381px;
		$header-icon1-offset-x: -770px;
		$header-icon1-offset-y: -381px;
		$header-icon1-width: 25px;
		$header-icon1-height: 25px;
		$header-icon1-total-width: 916px;
		$header-icon1-total-height: 860px;
		$header-icon1-image: '../images/sprite.png';
		$header-icon1: (770px, 381px, -770px, -381px, 25px, 25px, 916px, 860px, '../images/sprite.png', 'header-icon1', );
		$header-icon2-name: 'header-icon2';
		$header-icon2-x: 770px;
		$header-icon2-y: 456px;
		$header-icon2-offset-x: -770px;
		$header-icon2-offset-y: -456px;
		$header-icon2-width: 25px;
		$header-icon2-height: 25px;
		$header-icon2-total-width: 916px;
		$header-icon2-total-height: 860px;
		$header-icon2-image: '../images/sprite.png';
		$header-icon2: (770px, 456px, -770px, -456px, 25px, 25px, 916px, 860px, '../images/sprite.png', 'header-icon2', );
		$header-icon3-name: 'header-icon3';
		$header-icon3-x: 770px;
		$header-icon3-y: 531px;
		$header-icon3-offset-x: -770px;
		$header-icon3-offset-y: -531px;
		$header-icon3-width: 25px;
		$header-icon3-height: 25px;
		$header-icon3-total-width: 916px;
		$header-icon3-total-height: 860px;
		$header-icon3-image: '../images/sprite.png';
		$header-icon3: (770px, 531px, -770px, -531px, 25px, 25px, 916px, 860px, '../images/sprite.png', 'header-icon3', );
		$header-icon4-name: 'header-icon4';
		$header-icon4-x: 770px;
		$header-icon4-y: 606px;
		$header-icon4-offset-x: -770px;
		$header-icon4-offset-y: -606px;
		$header-icon4-width: 25px;
		$header-icon4-height: 25px;
		$header-icon4-total-width: 916px;
		$header-icon4-total-height: 860px;
		$header-icon4-image: '../images/sprite.png';
		$header-icon4: (770px, 606px, -770px, -606px, 25px, 25px, 916px, 860px, '../images/sprite.png', 'header-icon4', );
		$home-name: 'home';
		$home-x: 848px;
		$home-y: 462px;
		$home-offset-x: -848px;
		$home-offset-y: -462px;
		$home-width: 13px;
		$home-height: 12px;
		$home-total-width: 916px;
		$home-total-height: 860px;
		$home-image: '../images/sprite.png';
		$home: (848px, 462px, -848px, -462px, 13px, 12px, 916px, 860px, '../images/sprite.png', 'home', );
		$ico-roll-left-name: 'ico-roll-left';
		$ico-roll-left-x: 397px;
		$ico-roll-left-y: 625px;
		$ico-roll-left-offset-x: -397px;
		$ico-roll-left-offset-y: -625px;
		$ico-roll-left-width: 28px;
		$ico-roll-left-height: 28px;
		$ico-roll-left-total-width: 916px;
		$ico-roll-left-total-height: 860px;
		$ico-roll-left-image: '../images/sprite.png';
		$ico-roll-left: (397px, 625px, -397px, -625px, 28px, 28px, 916px, 860px, '../images/sprite.png', 'ico-roll-left', );
		$ico-roll-pause-name: 'ico-roll-pause';
		$ico-roll-pause-x: 475px;
		$ico-roll-pause-y: 625px;
		$ico-roll-pause-offset-x: -475px;
		$ico-roll-pause-offset-y: -625px;
		$ico-roll-pause-width: 28px;
		$ico-roll-pause-height: 28px;
		$ico-roll-pause-total-width: 916px;
		$ico-roll-pause-total-height: 860px;
		$ico-roll-pause-image: '../images/sprite.png';
		$ico-roll-pause: (475px, 625px, -475px, -625px, 28px, 28px, 916px, 860px, '../images/sprite.png', 'ico-roll-pause', );
		$ico-roll-plus-name: 'ico-roll-plus';
		$ico-roll-plus-x: 770px;
		$ico-roll-plus-y: 0px;
		$ico-roll-plus-offset-x: -770px;
		$ico-roll-plus-offset-y: 0px;
		$ico-roll-plus-width: 28px;
		$ico-roll-plus-height: 28px;
		$ico-roll-plus-total-width: 916px;
		$ico-roll-plus-total-height: 860px;
		$ico-roll-plus-image: '../images/sprite.png';
		$ico-roll-plus: (770px, 0px, -770px, 0px, 28px, 28px, 916px, 860px, '../images/sprite.png', 'ico-roll-plus', );
		$ico-roll-right-name: 'ico-roll-right';
		$ico-roll-right-x: 553px;
		$ico-roll-right-y: 625px;
		$ico-roll-right-offset-x: -553px;
		$ico-roll-right-offset-y: -625px;
		$ico-roll-right-width: 28px;
		$ico-roll-right-height: 28px;
		$ico-roll-right-total-width: 916px;
		$ico-roll-right-total-height: 860px;
		$ico-roll-right-image: '../images/sprite.png';
		$ico-roll-right: (553px, 625px, -553px, -625px, 28px, 28px, 916px, 860px, '../images/sprite.png', 'ico-roll-right', );
		$ico-roll-start-name: 'ico-roll-start';
		$ico-roll-start-x: 770px;
		$ico-roll-start-y: 306px;
		$ico-roll-start-offset-x: -770px;
		$ico-roll-start-offset-y: -306px;
		$ico-roll-start-width: 26px;
		$ico-roll-start-height: 25px;
		$ico-roll-start-total-width: 916px;
		$ico-roll-start-total-height: 860px;
		$ico-roll-start-image: '../images/sprite.png';
		$ico-roll-start: (770px, 306px, -770px, -306px, 26px, 25px, 916px, 860px, '../images/sprite.png', 'ico-roll-start', );
		$info-icon-name: 'info-icon';
		$info-icon-x: 848px;
		$info-icon-y: 0px;
		$info-icon-offset-x: -848px;
		$info-icon-offset-y: 0px;
		$info-icon-width: 13px;
		$info-icon-height: 21px;
		$info-icon-total-width: 916px;
		$info-icon-total-height: 860px;
		$info-icon-image: '../images/sprite.png';
		$info-icon: (848px, 0px, -848px, 0px, 13px, 21px, 916px, 860px, '../images/sprite.png', 'info-icon', );
		$intro-box1-name: 'intro-box1';
		$intro-box1-x: 101px;
		$intro-box1-y: 374px;
		$intro-box1-offset-x: -101px;
		$intro-box1-offset-y: -374px;
		$intro-box1-width: 71px;
		$intro-box1-height: 55px;
		$intro-box1-total-width: 916px;
		$intro-box1-total-height: 860px;
		$intro-box1-image: '../images/sprite.png';
		$intro-box1: (101px, 374px, -101px, -374px, 71px, 55px, 916px, 860px, '../images/sprite.png', 'intro-box1', );
		$intro-box2-name: 'intro-box2';
		$intro-box2-x: 0px;
		$intro-box2-y: 374px;
		$intro-box2-offset-x: 0px;
		$intro-box2-offset-y: -374px;
		$intro-box2-width: 51px;
		$intro-box2-height: 83px;
		$intro-box2-total-width: 916px;
		$intro-box2-total-height: 860px;
		$intro-box2-image: '../images/sprite.png';
		$intro-box2: (0px, 374px, 0px, -374px, 51px, 83px, 916px, 860px, '../images/sprite.png', 'intro-box2', );
		$intro-box3-name: 'intro-box3';
		$intro-box3-x: 471px;
		$intro-box3-y: 251px;
		$intro-box3-offset-x: -471px;
		$intro-box3-offset-y: -251px;
		$intro-box3-width: 91px;
		$intro-box3-height: 67px;
		$intro-box3-total-width: 916px;
		$intro-box3-total-height: 860px;
		$intro-box3-image: '../images/sprite.png';
		$intro-box3: (471px, 251px, -471px, -251px, 91px, 67px, 916px, 860px, '../images/sprite.png', 'intro-box3', );
		$intro-bul-name: 'intro-bul';
		$intro-bul-x: 362px;
		$intro-bul-y: 705px;
		$intro-bul-offset-x: -362px;
		$intro-bul-offset-y: -705px;
		$intro-bul-width: 29px;
		$intro-bul-height: 12px;
		$intro-bul-total-width: 916px;
		$intro-bul-total-height: 860px;
		$intro-bul-image: '../images/sprite.png';
		$intro-bul: (362px, 705px, -362px, -705px, 29px, 12px, 916px, 860px, '../images/sprite.png', 'intro-bul', );
		$intro-icon-name: 'intro-icon';
		$intro-icon-x: 310px;
		$intro-icon-y: 101px;
		$intro-icon-offset-x: -310px;
		$intro-icon-offset-y: -101px;
		$intro-icon-width: 104px;
		$intro-icon-height: 60px;
		$intro-icon-total-width: 916px;
		$intro-icon-total-height: 860px;
		$intro-icon-image: '../images/sprite.png';
		$intro-icon: (310px, 101px, -310px, -101px, 104px, 60px, 916px, 860px, '../images/sprite.png', 'intro-icon', );
		$join-icon-1-name: 'join-icon-1';
		$join-icon-1-x: 618px;
		$join-icon-1-y: 0px;
		$join-icon-1-offset-x: -618px;
		$join-icon-1-offset-y: 0px;
		$join-icon-1-width: 51px;
		$join-icon-1-height: 73px;
		$join-icon-1-total-width: 916px;
		$join-icon-1-total-height: 860px;
		$join-icon-1-image: '../images/sprite.png';
		$join-icon-1: (618px, 0px, -618px, 0px, 51px, 73px, 916px, 860px, '../images/sprite.png', 'join-icon-1', );
		$join-icon-2-name: 'join-icon-2';
		$join-icon-2-x: 471px;
		$join-icon-2-y: 129px;
		$join-icon-2-offset-x: -471px;
		$join-icon-2-offset-y: -129px;
		$join-icon-2-width: 88px;
		$join-icon-2-height: 72px;
		$join-icon-2-total-width: 916px;
		$join-icon-2-total-height: 860px;
		$join-icon-2-image: '../images/sprite.png';
		$join-icon-2: (471px, 129px, -471px, -129px, 88px, 72px, 916px, 860px, '../images/sprite.png', 'join-icon-2', );
		$join-step-next-name: 'join-step-next';
		$join-step-next-x: 592px;
		$join-step-next-y: 705px;
		$join-step-next-offset-x: -592px;
		$join-step-next-offset-y: -705px;
		$join-step-next-width: 13px;
		$join-step-next-height: 1px;
		$join-step-next-total-width: 916px;
		$join-step-next-total-height: 860px;
		$join-step-next-image: '../images/sprite.png';
		$join-step-next: (592px, 705px, -592px, -705px, 13px, 1px, 916px, 860px, '../images/sprite.png', 'join-step-next', );
		$join-step-now-name: 'join-step-now';
		$join-step-now-x: 848px;
		$join-step-now-y: 207px;
		$join-step-now-offset-x: -848px;
		$join-step-now-offset-y: -207px;
		$join-step-now-width: 13px;
		$join-step-now-height: 13px;
		$join-step-now-total-width: 916px;
		$join-step-now-total-height: 860px;
		$join-step-now-image: '../images/sprite.png';
		$join-step-now: (848px, 207px, -848px, -207px, 13px, 13px, 916px, 860px, '../images/sprite.png', 'join-step-now', );
		$list-bul-name: 'list-bul';
		$list-bul-x: 911px;
		$list-bul-y: 355px;
		$list-bul-offset-x: -911px;
		$list-bul-offset-y: -355px;
		$list-bul-width: 5px;
		$list-bul-height: 2px;
		$list-bul-total-width: 916px;
		$list-bul-total-height: 860px;
		$list-bul-image: '../images/sprite.png';
		$list-bul: (911px, 355px, -911px, -355px, 5px, 2px, 916px, 860px, '../images/sprite.png', 'list-bul', );
		$list-bul2-name: 'list-bul2';
		$list-bul2-x: 911px;
		$list-bul2-y: 722px;
		$list-bul2-offset-x: -911px;
		$list-bul2-offset-y: -722px;
		$list-bul2-width: 2px;
		$list-bul2-height: 2px;
		$list-bul2-total-width: 916px;
		$list-bul2-total-height: 860px;
		$list-bul2-image: '../images/sprite.png';
		$list-bul2: (911px, 722px, -911px, -722px, 2px, 2px, 916px, 860px, '../images/sprite.png', 'list-bul2', );
		$location-icon-name: 'location-icon';
		$location-icon-x: 911px;
		$location-icon-y: 123px;
		$location-icon-offset-x: -911px;
		$location-icon-offset-y: -123px;
		$location-icon-width: 4px;
		$location-icon-height: 7px;
		$location-icon-total-width: 916px;
		$location-icon-total-height: 860px;
		$location-icon-image: '../images/sprite.png';
		$location-icon: (911px, 123px, -911px, -123px, 4px, 7px, 916px, 860px, '../images/sprite.png', 'location-icon', );
		$login-bul-name: 'login-bul';
		$login-bul-x: 911px;
		$login-bul-y: 180px;
		$login-bul-offset-x: -911px;
		$login-bul-offset-y: -180px;
		$login-bul-width: 1px;
		$login-bul-height: 10px;
		$login-bul-total-width: 916px;
		$login-bul-total-height: 860px;
		$login-bul-image: '../images/sprite.png';
		$login-bul: (911px, 180px, -911px, -180px, 1px, 10px, 916px, 860px, '../images/sprite.png', 'login-bul', );
		$main-notice-name: 'main-notice';
		$main-notice-x: 848px;
		$main-notice-y: 396px;
		$main-notice-offset-x: -848px;
		$main-notice-offset-y: -396px;
		$main-notice-width: 10px;
		$main-notice-height: 16px;
		$main-notice-total-width: 916px;
		$main-notice-total-height: 860px;
		$main-notice-image: '../images/sprite.png';
		$main-notice: (848px, 396px, -848px, -396px, 10px, 16px, 916px, 860px, '../images/sprite.png', 'main-notice', );
		$main-sns-fb-name: 'main-sns-fb';
		$main-sns-fb-x: 160px;
		$main-sns-fb-y: 625px;
		$main-sns-fb-offset-x: -160px;
		$main-sns-fb-offset-y: -625px;
		$main-sns-fb-width: 30px;
		$main-sns-fb-height: 30px;
		$main-sns-fb-total-width: 916px;
		$main-sns-fb-total-height: 860px;
		$main-sns-fb-image: '../images/sprite.png';
		$main-sns-fb: (160px, 625px, -160px, -625px, 30px, 30px, 916px, 860px, '../images/sprite.png', 'main-sns-fb', );
		$main-sns-insta-name: 'main-sns-insta';
		$main-sns-insta-x: 80px;
		$main-sns-insta-y: 625px;
		$main-sns-insta-offset-x: -80px;
		$main-sns-insta-offset-y: -625px;
		$main-sns-insta-width: 30px;
		$main-sns-insta-height: 30px;
		$main-sns-insta-total-width: 916px;
		$main-sns-insta-total-height: 860px;
		$main-sns-insta-image: '../images/sprite.png';
		$main-sns-insta: (80px, 625px, -80px, -625px, 30px, 30px, 916px, 860px, '../images/sprite.png', 'main-sns-insta', );
		$main-youtube-name: 'main-youtube';
		$main-youtube-x: 0px;
		$main-youtube-y: 625px;
		$main-youtube-offset-x: 0px;
		$main-youtube-offset-y: -625px;
		$main-youtube-width: 30px;
		$main-youtube-height: 30px;
		$main-youtube-total-width: 916px;
		$main-youtube-total-height: 860px;
		$main-youtube-image: '../images/sprite.png';
		$main-youtube: (0px, 625px, 0px, -625px, 30px, 30px, 916px, 860px, '../images/sprite.png', 'main-youtube', );
		$mainpage-header-bg-name: 'mainpage-header-bg';
		$mainpage-header-bg-x: 719px;
		$mainpage-header-bg-y: 0px;
		$mainpage-header-bg-offset-x: -719px;
		$mainpage-header-bg-offset-y: 0px;
		$mainpage-header-bg-width: 1px;
		$mainpage-header-bg-height: 109px;
		$mainpage-header-bg-total-width: 916px;
		$mainpage-header-bg-total-height: 860px;
		$mainpage-header-bg-image: '../images/sprite.png';
		$mainpage-header-bg: (719px, 0px, -719px, 0px, 1px, 109px, 916px, 860px, '../images/sprite.png', 'mainpage-header-bg', );
		$menu-open-name: 'menu_open';
		$menu-open-x: 209px;
		$menu-open-y: 507px;
		$menu-open-offset-x: -209px;
		$menu-open-offset-y: -507px;
		$menu-open-width: 56px;
		$menu-open-height: 56px;
		$menu-open-total-width: 916px;
		$menu-open-total-height: 860px;
		$menu-open-image: '../images/sprite.png';
		$menu-open: (209px, 507px, -209px, -507px, 56px, 56px, 916px, 860px, '../images/sprite.png', 'menu_open', );
		$menu-search-name: 'menu_search';
		$menu-search-x: 103px;
		$menu-search-y: 507px;
		$menu-search-offset-x: -103px;
		$menu-search-offset-y: -507px;
		$menu-search-width: 56px;
		$menu-search-height: 56px;
		$menu-search-total-width: 916px;
		$menu-search-total-height: 860px;
		$menu-search-image: '../images/sprite.png';
		$menu-search: (103px, 507px, -103px, -507px, 56px, 56px, 916px, 860px, '../images/sprite.png', 'menu_search', );
		$mobile-bul-minus-name: 'mobile-bul-minus';
		$mobile-bul-minus-x: 514px;
		$mobile-bul-minus-y: 705px;
		$mobile-bul-minus-offset-x: -514px;
		$mobile-bul-minus-offset-y: -705px;
		$mobile-bul-minus-width: 28px;
		$mobile-bul-minus-height: 2px;
		$mobile-bul-minus-total-width: 916px;
		$mobile-bul-minus-total-height: 860px;
		$mobile-bul-minus-image: '../images/sprite.png';
		$mobile-bul-minus: (514px, 705px, -514px, -705px, 28px, 2px, 916px, 860px, '../images/sprite.png', 'mobile-bul-minus', );
		$mobile-bul-plus-name: 'mobile-bul-plus';
		$mobile-bul-plus-x: 319px;
		$mobile-bul-plus-y: 625px;
		$mobile-bul-plus-offset-x: -319px;
		$mobile-bul-plus-offset-y: -625px;
		$mobile-bul-plus-width: 28px;
		$mobile-bul-plus-height: 28px;
		$mobile-bul-plus-total-width: 916px;
		$mobile-bul-plus-total-height: 860px;
		$mobile-bul-plus-image: '../images/sprite.png';
		$mobile-bul-plus: (319px, 625px, -319px, -625px, 28px, 28px, 916px, 860px, '../images/sprite.png', 'mobile-bul-plus', );
		$mobile-close-name: 'mobile-close';
		$mobile-close-x: 315px;
		$mobile-close-y: 507px;
		$mobile-close-offset-x: -315px;
		$mobile-close-offset-y: -507px;
		$mobile-close-width: 56px;
		$mobile-close-height: 56px;
		$mobile-close-total-width: 916px;
		$mobile-close-total-height: 860px;
		$mobile-close-image: '../images/sprite.png';
		$mobile-close: (315px, 507px, -315px, -507px, 56px, 56px, 916px, 860px, '../images/sprite.png', 'mobile-close', );
		$month-next-name: 'month-next';
		$month-next-x: 848px;
		$month-next-y: 139px;
		$month-next-offset-x: -848px;
		$month-next-offset-y: -139px;
		$month-next-width: 12px;
		$month-next-height: 18px;
		$month-next-total-width: 916px;
		$month-next-total-height: 860px;
		$month-next-image: '../images/sprite.png';
		$month-next: (848px, 139px, -848px, -139px, 12px, 18px, 916px, 860px, '../images/sprite.png', 'month-next', );
		$month-prev-name: 'month-prev';
		$month-prev-x: 848px;
		$month-prev-y: 71px;
		$month-prev-offset-x: -848px;
		$month-prev-offset-y: -71px;
		$month-prev-width: 12px;
		$month-prev-height: 18px;
		$month-prev-total-width: 916px;
		$month-prev-total-height: 860px;
		$month-prev-image: '../images/sprite.png';
		$month-prev: (848px, 71px, -848px, -71px, 12px, 18px, 916px, 860px, '../images/sprite.png', 'month-prev', );
		$nav-3rd-bul-name: 'nav-3rd-bul';
		$nav-3rd-bul-x: 637px;
		$nav-3rd-bul-y: 778px;
		$nav-3rd-bul-offset-x: -637px;
		$nav-3rd-bul-offset-y: -778px;
		$nav-3rd-bul-width: 12px;
		$nav-3rd-bul-height: 4px;
		$nav-3rd-bul-total-width: 916px;
		$nav-3rd-bul-total-height: 860px;
		$nav-3rd-bul-image: '../images/sprite.png';
		$nav-3rd-bul: (637px, 778px, -637px, -778px, 12px, 4px, 916px, 860px, '../images/sprite.png', 'nav-3rd-bul', );
		$notice-name: 'notice';
		$notice-x: 421px;
		$notice-y: 507px;
		$notice-offset-x: -421px;
		$notice-offset-y: -507px;
		$notice-width: 47px;
		$notice-height: 47px;
		$notice-total-width: 916px;
		$notice-total-height: 860px;
		$notice-image: '../images/sprite.png';
		$notice: (421px, 507px, -421px, -507px, 47px, 47px, 916px, 860px, '../images/sprite.png', 'notice', );
		$ol-name: 'ol';
		$ol-x: 65px;
		$ol-y: 844px;
		$ol-offset-x: -65px;
		$ol-offset-y: -844px;
		$ol-width: 6px;
		$ol-height: 9px;
		$ol-total-width: 916px;
		$ol-total-height: 860px;
		$ol-image: '../images/sprite.png';
		$ol: (65px, 844px, -65px, -844px, 6px, 9px, 916px, 860px, '../images/sprite.png', 'ol', );
		$open-close-name: 'open-close';
		$open-close-x: 579px;
		$open-close-y: 778px;
		$open-close-offset-x: -579px;
		$open-close-offset-y: -778px;
		$open-close-width: 8px;
		$open-close-height: 8px;
		$open-close-total-width: 916px;
		$open-close-total-height: 860px;
		$open-close-image: '../images/sprite.png';
		$open-close: (579px, 778px, -579px, -778px, 8px, 8px, 916px, 860px, '../images/sprite.png', 'open-close', );
		$open-done-name: 'open-done';
		$open-done-x: 819px;
		$open-done-y: 778px;
		$open-done-offset-x: -819px;
		$open-done-offset-y: -778px;
		$open-done-width: 8px;
		$open-done-height: 2px;
		$open-done-total-width: 916px;
		$open-done-total-height: 860px;
		$open-done-image: '../images/sprite.png';
		$open-done: (819px, 778px, -819px, -778px, 8px, 2px, 916px, 860px, '../images/sprite.png', 'open-done', );
		$point-bul-name: 'point-bul';
		$point-bul-x: 911px;
		$point-bul-y: 513px;
		$point-bul-offset-x: -911px;
		$point-bul-offset-y: -513px;
		$point-bul-width: 3px;
		$point-bul-height: 3px;
		$point-bul-total-width: 916px;
		$point-bul-total-height: 860px;
		$point-bul-image: '../images/sprite.png';
		$point-bul: (911px, 513px, -911px, -513px, 3px, 3px, 916px, 860px, '../images/sprite.png', 'point-bul', );
		$popup-active-name: 'popup-active';
		$popup-active-x: 73px;
		$popup-active-y: 705px;
		$popup-active-offset-x: -73px;
		$popup-active-offset-y: -705px;
		$popup-active-width: 23px;
		$popup-active-height: 23px;
		$popup-active-total-width: 916px;
		$popup-active-total-height: 860px;
		$popup-active-image: '../images/sprite.png';
		$popup-active: (73px, 705px, -73px, -705px, 23px, 23px, 916px, 860px, '../images/sprite.png', 'popup-active', );
		$popup-next-name: 'popup-next';
		$popup-next-x: 770px;
		$popup-next-y: 230px;
		$popup-next-offset-x: -770px;
		$popup-next-offset-y: -230px;
		$popup-next-width: 26px;
		$popup-next-height: 26px;
		$popup-next-total-width: 916px;
		$popup-next-total-height: 860px;
		$popup-next-image: '../images/sprite.png';
		$popup-next: (770px, 230px, -770px, -230px, 26px, 26px, 916px, 860px, '../images/sprite.png', 'popup-next', );
		$popup-prev-name: 'popup-prev';
		$popup-prev-x: 770px;
		$popup-prev-y: 78px;
		$popup-prev-offset-x: -770px;
		$popup-prev-offset-y: -78px;
		$popup-prev-width: 26px;
		$popup-prev-height: 26px;
		$popup-prev-total-width: 916px;
		$popup-prev-total-height: 860px;
		$popup-prev-image: '../images/sprite.png';
		$popup-prev: (770px, 78px, -770px, -78px, 26px, 26px, 916px, 860px, '../images/sprite.png', 'popup-prev', );
		$popup-bul-name: 'popup_bul';
		$popup-bul-x: 0px;
		$popup-bul-y: 705px;
		$popup-bul-offset-x: 0px;
		$popup-bul-offset-y: -705px;
		$popup-bul-width: 23px;
		$popup-bul-height: 23px;
		$popup-bul-total-width: 916px;
		$popup-bul-total-height: 860px;
		$popup-bul-image: '../images/sprite.png';
		$popup-bul: (0px, 705px, 0px, -705px, 23px, 23px, 916px, 860px, '../images/sprite.png', 'popup_bul', );
		$popup-pause-name: 'popup_pause';
		$popup-pause-x: 770px;
		$popup-pause-y: 154px;
		$popup-pause-offset-x: -770px;
		$popup-pause-offset-y: -154px;
		$popup-pause-width: 26px;
		$popup-pause-height: 26px;
		$popup-pause-total-width: 916px;
		$popup-pause-total-height: 860px;
		$popup-pause-image: '../images/sprite.png';
		$popup-pause: (770px, 154px, -770px, -154px, 26px, 26px, 916px, 860px, '../images/sprite.png', 'popup_pause', );
		$popup-play-name: 'popup_play';
		$popup-play-x: 631px;
		$popup-play-y: 625px;
		$popup-play-offset-x: -631px;
		$popup-play-offset-y: -625px;
		$popup-play-width: 28px;
		$popup-play-height: 28px;
		$popup-play-total-width: 916px;
		$popup-play-total-height: 860px;
		$popup-play-image: '../images/sprite.png';
		$popup-play: (631px, 625px, -631px, -625px, 28px, 28px, 916px, 860px, '../images/sprite.png', 'popup_play', );
		$radio-off-name: 'radio-off';
		$radio-off-x: 848px;
		$radio-off-y: 586px;
		$radio-off-offset-x: -848px;
		$radio-off-offset-y: -586px;
		$radio-off-width: 12px;
		$radio-off-height: 12px;
		$radio-off-total-width: 916px;
		$radio-off-total-height: 860px;
		$radio-off-image: '../images/sprite.png';
		$radio-off: (848px, 586px, -848px, -586px, 12px, 12px, 916px, 860px, '../images/sprite.png', 'radio-off', );
		$radio-on-name: 'radio-on';
		$radio-on-x: 848px;
		$radio-on-y: 524px;
		$radio-on-offset-x: -848px;
		$radio-on-offset-y: -524px;
		$radio-on-width: 12px;
		$radio-on-height: 12px;
		$radio-on-total-width: 916px;
		$radio-on-total-height: 860px;
		$radio-on-image: '../images/sprite.png';
		$radio-on: (848px, 524px, -848px, -524px, 12px, 12px, 916px, 860px, '../images/sprite.png', 'radio-on', );
		$radio-type-off-name: 'radio-type-off';
		$radio-type-off-x: 848px;
		$radio-type-off-y: 333px;
		$radio-type-off-offset-x: -848px;
		$radio-type-off-offset-y: -333px;
		$radio-type-off-width: 13px;
		$radio-type-off-height: 13px;
		$radio-type-off-total-width: 916px;
		$radio-type-off-total-height: 860px;
		$radio-type-off-image: '../images/sprite.png';
		$radio-type-off: (848px, 333px, -848px, -333px, 13px, 13px, 916px, 860px, '../images/sprite.png', 'radio-type-off', );
		$radio-type-on-name: 'radio-type-on';
		$radio-type-on-x: 848px;
		$radio-type-on-y: 270px;
		$radio-type-on-offset-x: -848px;
		$radio-type-on-offset-y: -270px;
		$radio-type-on-width: 13px;
		$radio-type-on-height: 13px;
		$radio-type-on-total-width: 916px;
		$radio-type-on-total-height: 860px;
		$radio-type-on-image: '../images/sprite.png';
		$radio-type-on: (848px, 270px, -848px, -270px, 13px, 13px, 916px, 860px, '../images/sprite.png', 'radio-type-on', );
		$reback-name: 'reback';
		$reback-x: 0px;
		$reback-y: 778px;
		$reback-offset-x: 0px;
		$reback-offset-y: -778px;
		$reback-width: 17px;
		$reback-height: 16px;
		$reback-total-width: 916px;
		$reback-total-height: 860px;
		$reback-image: '../images/sprite.png';
		$reback: (0px, 778px, 0px, -778px, 17px, 16px, 916px, 860px, '../images/sprite.png', 'reback', );
		$search-btn-name: 'search-btn';
		$search-btn-x: 618px;
		$search-btn-y: 371px;
		$search-btn-offset-x: -618px;
		$search-btn-offset-y: -371px;
		$search-btn-width: 50px;
		$search-btn-height: 50px;
		$search-btn-total-width: 916px;
		$search-btn-total-height: 860px;
		$search-btn-image: '../images/sprite.png';
		$search-btn: (618px, 371px, -618px, -371px, 50px, 50px, 916px, 860px, '../images/sprite.png', 'search-btn', );
		$seat-complete-name: 'seat-complete';
		$seat-complete-x: 329px;
		$seat-complete-y: 778px;
		$seat-complete-offset-x: -329px;
		$seat-complete-offset-y: -778px;
		$seat-complete-width: 15px;
		$seat-complete-height: 11px;
		$seat-complete-total-width: 916px;
		$seat-complete-total-height: 860px;
		$seat-complete-image: '../images/sprite.png';
		$seat-complete: (329px, 778px, -329px, -778px, 15px, 11px, 916px, 860px, '../images/sprite.png', 'seat-complete', );
		$seat-imposible-name: 'seat-imposible';
		$seat-imposible-x: 394px;
		$seat-imposible-y: 778px;
		$seat-imposible-offset-x: -394px;
		$seat-imposible-offset-y: -778px;
		$seat-imposible-width: 15px;
		$seat-imposible-height: 11px;
		$seat-imposible-total-width: 916px;
		$seat-imposible-total-height: 860px;
		$seat-imposible-image: '../images/sprite.png';
		$seat-imposible: (394px, 778px, -394px, -778px, 15px, 11px, 916px, 860px, '../images/sprite.png', 'seat-imposible', );
		$seat-none-name: 'seat-none';
		$seat-none-x: 67px;
		$seat-none-y: 778px;
		$seat-none-offset-x: -67px;
		$seat-none-offset-y: -778px;
		$seat-none-width: 18px;
		$seat-none-height: 15px;
		$seat-none-total-width: 916px;
		$seat-none-total-height: 860px;
		$seat-none-image: '../images/sprite.png';
		$seat-none: (67px, 778px, -67px, -778px, 18px, 15px, 916px, 860px, '../images/sprite.png', 'seat-none', );
		$seat-posible-name: 'seat-posible';
		$seat-posible-x: 264px;
		$seat-posible-y: 778px;
		$seat-posible-offset-x: -264px;
		$seat-posible-offset-y: -778px;
		$seat-posible-width: 15px;
		$seat-posible-height: 11px;
		$seat-posible-total-width: 916px;
		$seat-posible-total-height: 860px;
		$seat-posible-image: '../images/sprite.png';
		$seat-posible: (264px, 778px, -264px, -778px, 15px, 11px, 916px, 860px, '../images/sprite.png', 'seat-posible', );
		$select-bul-name: 'select-bul';
		$select-bul-x: 121px;
		$select-bul-y: 844px;
		$select-bul-offset-x: -121px;
		$select-bul-offset-y: -844px;
		$select-bul-width: 9px;
		$select-bul-height: 5px;
		$select-bul-total-width: 916px;
		$select-bul-total-height: 860px;
		$select-bul-image: '../images/sprite.png';
		$select-bul: (121px, 844px, -121px, -844px, 9px, 5px, 916px, 860px, '../images/sprite.png', 'select-bul', );
		$select-arrow-name: 'select_arrow';
		$select-arrow-x: 699px;
		$select-arrow-y: 778px;
		$select-arrow-offset-x: -699px;
		$select-arrow-offset-y: -778px;
		$select-arrow-width: 12px;
		$select-arrow-height: 4px;
		$select-arrow-total-width: 916px;
		$select-arrow-total-height: 860px;
		$select-arrow-image: '../images/sprite.png';
		$select-arrow: (699px, 778px, -699px, -778px, 12px, 4px, 916px, 860px, '../images/sprite.png', 'select_arrow', );
		$side-bul-name: 'side-bul';
		$side-bul-x: 709px;
		$side-bul-y: 625px;
		$side-bul-offset-x: -709px;
		$side-bul-offset-y: -625px;
		$side-bul-width: 11px;
		$side-bul-height: 6px;
		$side-bul-total-width: 916px;
		$side-bul-total-height: 860px;
		$side-bul-image: '../images/sprite.png';
		$side-bul: (709px, 625px, -709px, -625px, 11px, 6px, 916px, 860px, '../images/sprite.png', 'side-bul', );
		$side-list-inbox-name: 'side-list-inbox';
		$side-list-inbox-x: 911px;
		$side-list-inbox-y: 566px;
		$side-list-inbox-offset-x: -911px;
		$side-list-inbox-offset-y: -566px;
		$side-list-inbox-width: 4px;
		$side-list-inbox-height: 2px;
		$side-list-inbox-total-width: 916px;
		$side-list-inbox-total-height: 860px;
		$side-list-inbox-image: '../images/sprite.png';
		$side-list-inbox: (911px, 566px, -911px, -566px, 4px, 2px, 916px, 860px, '../images/sprite.png', 'side-list-inbox', );
		$side-list-inbox-on-name: 'side-list-inbox_on';
		$side-list-inbox-on-x: 911px;
		$side-list-inbox-on-y: 618px;
		$side-list-inbox-on-offset-x: -911px;
		$side-list-inbox-on-offset-y: -618px;
		$side-list-inbox-on-width: 4px;
		$side-list-inbox-on-height: 2px;
		$side-list-inbox-on-total-width: 916px;
		$side-list-inbox-on-total-height: 860px;
		$side-list-inbox-on-image: '../images/sprite.png';
		$side-list-inbox-on: (911px, 618px, -911px, -618px, 4px, 2px, 916px, 860px, '../images/sprite.png', 'side-list-inbox_on', );
		$side-list-li-off-name: 'side-list-li-off';
		$side-list-li-off-x: 521px;
		$side-list-li-off-y: 778px;
		$side-list-li-off-offset-x: -521px;
		$side-list-li-off-offset-y: -778px;
		$side-list-li-off-width: 8px;
		$side-list-li-off-height: 8px;
		$side-list-li-off-total-width: 916px;
		$side-list-li-off-total-height: 860px;
		$side-list-li-off-image: '../images/sprite.png';
		$side-list-li-off: (521px, 778px, -521px, -778px, 8px, 8px, 916px, 860px, '../images/sprite.png', 'side-list-li-off', );
		$side-list-li-on-name: 'side-list-li-on';
		$side-list-li-on-x: 761px;
		$side-list-li-on-y: 778px;
		$side-list-li-on-offset-x: -761px;
		$side-list-li-on-offset-y: -778px;
		$side-list-li-on-width: 8px;
		$side-list-li-on-height: 2px;
		$side-list-li-on-total-width: 916px;
		$side-list-li-on-total-height: 860px;
		$side-list-li-on-image: '../images/sprite.png';
		$side-list-li-on: (761px, 778px, -761px, -778px, 8px, 2px, 916px, 860px, '../images/sprite.png', 'side-list-li-on', );
		$sisuldown-icon1-name: 'sisuldown-icon1';
		$sisuldown-icon1-x: 326px;
		$sisuldown-icon1-y: 211px;
		$sisuldown-icon1-offset-x: -326px;
		$sisuldown-icon1-offset-y: -211px;
		$sisuldown-icon1-width: 64px;
		$sisuldown-icon1-height: 70px;
		$sisuldown-icon1-total-width: 916px;
		$sisuldown-icon1-total-height: 860px;
		$sisuldown-icon1-image: '../images/sprite.png';
		$sisuldown-icon1: (326px, 211px, -326px, -211px, 64px, 70px, 916px, 860px, '../images/sprite.png', 'sisuldown-icon1', );
		$sisuldown-icon2-name: 'sisuldown-icon2';
		$sisuldown-icon2-x: 471px;
		$sisuldown-icon2-y: 0px;
		$sisuldown-icon2-offset-x: -471px;
		$sisuldown-icon2-offset-y: 0px;
		$sisuldown-icon2-width: 97px;
		$sisuldown-icon2-height: 79px;
		$sisuldown-icon2-total-width: 916px;
		$sisuldown-icon2-total-height: 860px;
		$sisuldown-icon2-image: '../images/sprite.png';
		$sisuldown-icon2: (471px, 0px, -471px, 0px, 97px, 79px, 916px, 860px, '../images/sprite.png', 'sisuldown-icon2', );
		$sisuldown-icon3-name: 'sisuldown-icon3';
		$sisuldown-icon3-x: 618px;
		$sisuldown-icon3-y: 123px;
		$sisuldown-icon3-offset-x: -618px;
		$sisuldown-icon3-offset-y: -123px;
		$sisuldown-icon3-width: 47px;
		$sisuldown-icon3-height: 77px;
		$sisuldown-icon3-total-width: 916px;
		$sisuldown-icon3-total-height: 860px;
		$sisuldown-icon3-image: '../images/sprite.png';
		$sisuldown-icon3: (618px, 123px, -618px, -123px, 47px, 77px, 916px, 860px, '../images/sprite.png', 'sisuldown-icon3', );
		$sisuldown-icon4-name: 'sisuldown-icon4';
		$sisuldown-icon4-x: 0px;
		$sisuldown-icon4-y: 507px;
		$sisuldown-icon4-offset-x: 0px;
		$sisuldown-icon4-offset-y: -507px;
		$sisuldown-icon4-width: 53px;
		$sisuldown-icon4-height: 68px;
		$sisuldown-icon4-total-width: 916px;
		$sisuldown-icon4-total-height: 860px;
		$sisuldown-icon4-image: '../images/sprite.png';
		$sisuldown-icon4: (0px, 507px, 0px, -507px, 53px, 68px, 916px, 860px, '../images/sprite.png', 'sisuldown-icon4', );
		$sitemap-bul-name: 'sitemap-bul';
		$sitemap-bul-x: 911px;
		$sitemap-bul-y: 407px;
		$sitemap-bul-offset-x: -911px;
		$sitemap-bul-offset-y: -407px;
		$sitemap-bul-width: 3px;
		$sitemap-bul-height: 3px;
		$sitemap-bul-total-width: 916px;
		$sitemap-bul-total-height: 860px;
		$sitemap-bul-image: '../images/sprite.png';
		$sitemap-bul: (911px, 407px, -911px, -407px, 3px, 3px, 916px, 860px, '../images/sprite.png', 'sitemap-bul', );
		$smile-name: 'smile';
		$smile-x: 135px;
		$smile-y: 778px;
		$smile-offset-x: -135px;
		$smile-offset-y: -778px;
		$smile-width: 15px;
		$smile-height: 15px;
		$smile-total-width: 916px;
		$smile-total-height: 860px;
		$smile-image: '../images/sprite.png';
		$smile: (135px, 778px, -135px, -778px, 15px, 15px, 916px, 860px, '../images/sprite.png', 'smile', );
		$step-final-name: 'step-final';
		$step-final-x: 222px;
		$step-final-y: 374px;
		$step-final-offset-x: -222px;
		$step-final-offset-y: -374px;
		$step-final-width: 63px;
		$step-final-height: 46px;
		$step-final-total-width: 916px;
		$step-final-total-height: 860px;
		$step-final-image: '../images/sprite.png';
		$step-final: (222px, 374px, -222px, -374px, 63px, 46px, 916px, 860px, '../images/sprite.png', 'step-final', );
		$step-next-name: 'step-next';
		$step-next-x: 518px;
		$step-next-y: 507px;
		$step-next-offset-x: -518px;
		$step-next-offset-y: -507px;
		$step-next-width: 43px;
		$step-next-height: 33px;
		$step-next-total-width: 916px;
		$step-next-total-height: 860px;
		$step-next-image: '../images/sprite.png';
		$step-next: (518px, 507px, -518px, -507px, 43px, 33px, 916px, 860px, '../images/sprite.png', 'step-next', );
		$step-prev-name: 'step-prev';
		$step-prev-x: 511px;
		$step-prev-y: 374px;
		$step-prev-offset-x: -511px;
		$step-prev-offset-y: -374px;
		$step-prev-width: 43px;
		$step-prev-height: 33px;
		$step-prev-total-width: 916px;
		$step-prev-total-height: 860px;
		$step-prev-image: '../images/sprite.png';
		$step-prev: (511px, 374px, -511px, -374px, 43px, 33px, 916px, 860px, '../images/sprite.png', 'step-prev', );
		$sub-nav-3rd-bul-name: 'sub-nav_3rd_bul';
		$sub-nav-3rd-bul-x: 911px;
		$sub-nav-3rd-bul-y: 670px;
		$sub-nav-3rd-bul-offset-x: -911px;
		$sub-nav-3rd-bul-offset-y: -670px;
		$sub-nav-3rd-bul-width: 2px;
		$sub-nav-3rd-bul-height: 2px;
		$sub-nav-3rd-bul-total-width: 916px;
		$sub-nav-3rd-bul-total-height: 860px;
		$sub-nav-3rd-bul-image: '../images/sprite.png';
		$sub-nav-3rd-bul: (911px, 670px, -911px, -670px, 2px, 2px, 916px, 860px, '../images/sprite.png', 'sub-nav_3rd_bul', );
		$title-name: 'title';
		$title-x: 0px;
		$title-y: 101px;
		$title-offset-x: 0px;
		$title-offset-y: -101px;
		$title-width: 260px;
		$title-height: 60px;
		$title-total-width: 916px;
		$title-total-height: 860px;
		$title-image: '../images/sprite.png';
		$title: (0px, 101px, 0px, -101px, 260px, 60px, 916px, 860px, '../images/sprite.png', 'title', );
		$total-count-bul-name: 'total-count-bul';
		$total-count-bul-x: 911px;
		$total-count-bul-y: 240px;
		$total-count-bul-offset-x: -911px;
		$total-count-bul-offset-y: -240px;
		$total-count-bul-width: 1px;
		$total-count-bul-height: 10px;
		$total-count-bul-total-width: 916px;
		$total-count-bul-total-height: 860px;
		$total-count-bul-image: '../images/sprite.png';
		$total-count-bul: (911px, 240px, -911px, -240px, 1px, 10px, 916px, 860px, '../images/sprite.png', 'total-count-bul', );
		$visual-pause-name: 'visual_pause';
		$visual-pause-x: 218px;
		$visual-pause-y: 705px;
		$visual-pause-offset-x: -218px;
		$visual-pause-offset-y: -705px;
		$visual-pause-width: 22px;
		$visual-pause-height: 22px;
		$visual-pause-total-width: 916px;
		$visual-pause-total-height: 860px;
		$visual-pause-image: '../images/sprite.png';
		$visual-pause: (218px, 705px, -218px, -705px, 22px, 22px, 916px, 860px, '../images/sprite.png', 'visual_pause', );
		$visual-play-name: 'visual_play';
		$visual-play-x: 290px;
		$visual-play-y: 705px;
		$visual-play-offset-x: -290px;
		$visual-play-offset-y: -705px;
		$visual-play-width: 22px;
		$visual-play-height: 22px;
		$visual-play-total-width: 916px;
		$visual-play-total-height: 860px;
		$visual-play-image: '../images/sprite.png';
		$visual-play: (290px, 705px, -290px, -705px, 22px, 22px, 916px, 860px, '../images/sprite.png', 'visual_play', );
		$way-big1-name: 'way-big1';
		$way-big1-x: 163px;
		$way-big1-y: 211px;
		$way-big1-offset-x: -163px;
		$way-big1-offset-y: -211px;
		$way-big1-width: 113px;
		$way-big1-height: 113px;
		$way-big1-total-width: 916px;
		$way-big1-total-height: 860px;
		$way-big1-image: '../images/sprite.png';
		$way-big1: (163px, 211px, -163px, -211px, 113px, 113px, 916px, 860px, '../images/sprite.png', 'way-big1', );
		$way-big2-name: 'way-big2';
		$way-big2-x: 0px;
		$way-big2-y: 211px;
		$way-big2-offset-x: 0px;
		$way-big2-offset-y: -211px;
		$way-big2-width: 113px;
		$way-big2-height: 113px;
		$way-big2-total-width: 916px;
		$way-big2-total-height: 860px;
		$way-big2-image: '../images/sprite.png';
		$way-big2: (0px, 211px, 0px, -211px, 113px, 113px, 916px, 860px, '../images/sprite.png', 'way-big2', );
		$way-bul-name: 'way-bul';
		$way-bul-x: 911px;
		$way-bul-y: 300px;
		$way-bul-offset-x: -911px;
		$way-bul-offset-y: -300px;
		$way-bul-width: 5px;
		$way-bul-height: 5px;
		$way-bul-total-width: 916px;
		$way-bul-total-height: 860px;
		$way-bul-image: '../images/sprite.png';
		$way-bul: (911px, 300px, -911px, -300px, 5px, 5px, 916px, 860px, '../images/sprite.png', 'way-bul', );
		$way-icon1-name: 'way-icon1';
		$way-icon1-x: 423px;
		$way-icon1-y: 374px;
		$way-icon1-offset-x: -423px;
		$way-icon1-offset-y: -374px;
		$way-icon1-width: 38px;
		$way-icon1-height: 38px;
		$way-icon1-total-width: 916px;
		$way-icon1-total-height: 860px;
		$way-icon1-image: '../images/sprite.png';
		$way-icon1: (423px, 374px, -423px, -374px, 38px, 38px, 916px, 860px, '../images/sprite.png', 'way-icon1', );
		$way-icon2-name: 'way-icon2';
		$way-icon2-x: 335px;
		$way-icon2-y: 374px;
		$way-icon2-offset-x: -335px;
		$way-icon2-offset-y: -374px;
		$way-icon2-width: 38px;
		$way-icon2-height: 38px;
		$way-icon2-total-width: 916px;
		$way-icon2-total-height: 860px;
		$way-icon2-image: '../images/sprite.png';
		$way-icon2: (335px, 374px, -335px, -374px, 38px, 38px, 916px, 860px, '../images/sprite.png', 'way-icon2', );

	$spritesheet-width: 916px;
	$spritesheet-height: 860px;
	$spritesheet-image: '../images/sprite.png';
	$spritesheet-sprites: ($alert-icon, $all-menu-btn, $all-menu-close, $all-menu-close2, $check-type, $confirm, $copy-li-bg, $copy-li-bg2, $date, $down-icon1, $down-icon2, $foot-img, $footer-select-bul, $h4-bul, $header-icon1, $header-icon2, $header-icon3, $header-icon4, $home, $ico-roll-left, $ico-roll-pause, $ico-roll-plus, $ico-roll-right, $ico-roll-start, $info-icon, $intro-box1, $intro-box2, $intro-box3, $intro-bul, $intro-icon, $join-icon-1, $join-icon-2, $join-step-next, $join-step-now, $list-bul, $list-bul2, $location-icon, $login-bul, $main-notice, $main-sns-fb, $main-sns-insta, $main-youtube, $mainpage-header-bg, $menu-open, $menu-search, $mobile-bul-minus, $mobile-bul-plus, $mobile-close, $month-next, $month-prev, $nav-3rd-bul, $notice, $ol, $open-close, $open-done, $point-bul, $popup-active, $popup-next, $popup-prev, $popup-bul, $popup-pause, $popup-play, $radio-off, $radio-on, $radio-type-off, $radio-type-on, $reback, $search-btn, $seat-complete, $seat-imposible, $seat-none, $seat-posible, $select-bul, $select-arrow, $side-bul, $side-list-inbox, $side-list-inbox-on, $side-list-li-off, $side-list-li-on, $sisuldown-icon1, $sisuldown-icon2, $sisuldown-icon3, $sisuldown-icon4, $sitemap-bul, $smile, $step-final, $step-next, $step-prev, $sub-nav-3rd-bul, $title, $total-count-bul, $visual-pause, $visual-play, $way-big1, $way-big2, $way-bul, $way-icon1, $way-icon2, );
	$spritesheet: (916px, 860px, '../images/sprite.png', $spritesheet-sprites, );
